.about
  margin-top 5px

  .filter__title
    &:hover
      border-bottom 1px solid $border-color !important

    &.active
      border-bottom 1px solid $border-color !important

  &__banner
    height 200px
    width 100%
    background-position center
    background-repeat repeat-x
    margin-bottom 21px

  &__about-us
    padding 30px 0

  &__title
    font-size 30px
    font-weight 300
    margin-bottom 32px
    position relative

    &--vacans
      padding-left 50px

      +to-width(767px)
        padding-left 45px

        &:before
          width 30px!important
          height 38px!important

      &:before
        content ''
        height 44px
        width 35px
        background-image url(../../app/images/about-list.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

    &--box
      padding-left 65px

      +to-width(767px)
        padding-left 55px

        &:before
          width 38px!important
          height 32px!important

      &:before
        content ''
        height 41px
        width 48px
        background-image url(../../app/images/about-box.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

    &--info
      padding-left 56px

      +to-width(767px)
        padding-left 50px

        &:before
          width 37px!important
          height 37px!important

      &:before
        content ''
        height 39px
        width 39px
        background-image url(../../app/images/about-info.png)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

    +to-width(767px)
      font-size 24px

  &__text
    font-weight 300
    line-height 28px

  &__about-us-title
    font-weight 700
    margin-top 6px
    margin-bottom 6px

  &__about-us-item
    margin-bottom 34px

    +to-width(767px)
      &:first-child
        margin-top 34px

  &__mission
    background $blue
    color white
    padding 55px 0 12px
    margin-top 55px

  &__mission-cont
    position relative
    padding-left 70px

    +to-width(767px)
      padding-left 0

      .about__mission-big-title
        padding-left 70px

    &:before
      content ''
      height 54px
      width 51px
      background-image url(../../app/images/about-medal.png)
      background-position center
      background-repeat no-repeat
      background-size cover
      position absolute
      left 0
      top 0
      margin auto

  &__mission-big-title
    font-weight 300
    font-size 30px
    margin-bottom 15px

    +to-width(767px)
      font-size 24px

  &__mission-big-text
    font-weight 300
    line-height 27px

  &__mission-icon
    &--econom
      img
        width 85px
        height 81px
        display block
        margin auto

    &--time
      img
        width 53px
        height 81px
        display block
        margin auto

    &--safety
      img
        width 100px
        height 81px
        display block
        margin auto

    &--universe
      display flex
      align-items flex-end
      justify-content space-between
      margin auto
      width 122px

      img
        width 39px
        height 78px
        display block

        &:first-child
          width 24px
          height 61px
          margin-right 5px

        &:last-child
          width 34px
          height 61px

    &--security
      img
        width 65px
        height 81px
        display block
        margin auto

    &--ecologic
      img
        width 87px
        height 81px
        display block
        margin auto

  &__mission-title
    text-align center
    text-transform uppercase
    font-weight 700
    margin-bottom 15px

  &__mission-text
    font-weight 300
    line-height 27px
    text-align center

    &--small
      line-height 25px
      max-width 300px
      margin auto
      height 170px
      overflow hidden
      margin-bottom 46px

      +to-width(767px)
        height auto

  &__mission-icon
    margin-bottom 28px

  &__mission-cont
    margin-bottom 56px

  &__mission-item
    height 356px

    +to-width(767px)
      height auto

  &__clients
    padding 70px 0

    .partner-slider
      position relative !important
      padding-top 28px

      .owl-prev
        width 35px
        height 114px

      .owl-next
        width 35px
        height 114px

  &__vacancy
    padding 114px 0

    +to-width(959px)
      padding 25px 0

    .filter--order
      padding-right 0 !important

    .filter__item
      margin-bottom 9px !important

    .about__text
      margin-top -6px
      padding-left 26px

      +to-width(959px)
        margin-top 0
        padding-left 0

      a
        color #0360f9
        text-decoration none
        font-weight 300

        &:hover
          text-decoration underline

  &__vacancy-filter-block
    display flex
    justify-content space-between
    align-items center
    margin-bottom 27px

    +to-width(767px)
      display block

      .about__title
        margin-bottom 10px !important

    .about__title
      margin-bottom 0

  &__text-item
    margin-bottom 25px

    &:last-child
      margin-bottom 0

    .about__about-us-title
      text-transform uppercase
      margin-bottom 11px

    .about__text
      padding-left 0

  &__geography
    .map
      height 547px !important

  &__geography-info
    position absolute
    top 30px
    left 0
    right 0
    margin auto
    z-index 1

    .cont
      background white
      padding 27px 33px
      display flex
      justify-content space-between

  &__geography-info-left
    min-width 290px
    margin-right 53px

    .about__title
      margin-bottom 13px

  &__geography-info-right
    padding-right 10px

