.action
  position absolute
  top 0
  left -6px

  &--best-price
    width 122px
    height 26px
    background-image url(../../app/images/bestprice.svg)
    background-repeat no-repeat
    background-position center