.auth
  &__link
    font-weight 700
    color white
    text-transform uppercase
    text-decoration none
    font-size 12px
    position relative
    padding-left 19px

    +to-width(1030px)
      font-size 10px

    +to-width(959px)
      font-weight 300
      font-size 16px
      text-transform none

    &:hover
      text-decoration underline

    &:before
      content ''
      width 13px
      height 14px
      background-image url(../../app/images/user.svg)
      background-position center
      background-repeat no-repeat
      background-size cover
      display inline-block
      top 0
      bottom 0
      margin auto
      position absolute
      left 0