.banners-block
  overflow hidden

  &__item
    padding 0 !important

    .banner
      &--blue
        .banner__img
          transform scaleX(-1) translateX(-16vw) !important

      &--orange
        .banner__img
          transform translateX(-15vw) !important

      +to-width(767px)
        padding 0 10px

    +to-width(767px)
      padding-left 14px
      padding-right 14px

    .banner__description
      padding-right 0

      +to-width(1135px)
        font-size 15px

    .banner__title
      +to-width(1135px)
        font-size 24px

    .banner__cont
      margin-left 0
      padding-right 0

    .banner--blue .banner__img
      transform scale(-1, 1)
      right 0
      left auto

    &--left
      .banner__left
        text-align right
        justify-content flex-end
        padding-right 36px

        +to-width(767px)
          text-align left
          justify-content flex-start
          padding-right 0

      .banner__description
        padding-right 0

    &--right
      .banner__left
        padding-left 36px

        +to-width(767px)
          padding-left 0