.banner
  height 318px
  color white
  overflow hidden

  +to-width(767px)
    height 226px !important

  &__cont
    margin-left 8.5vw
    position relative
    z-index 2

    +to-width(959px)
      margin-left 0
      padding-right 20px

  &--blue
    background $blue

    .banner__left
      +to-width(767px)
        &:after
          content ''
          position absolute
          opacity .41
          width 100%
          height 100%
          background-image url(../../app/images/banner-1.png)
          background-repeat no-repeat
          background-position right bottom
          background-size contain
          left 0
          top 20px
          z-index 1

    .banner__img
      position absolute
      bottom -17px
      left -37px

  &--grey
    background $grey
    margin-bottom 4px
    color $text-color

    .banner__picture
      display flex
      align-items center

    .banner__left
      +to-width(767px)
        &:after
          content ''
          position absolute
          opacity .41
          width 100%
          height 100%
          background-image url(../../app/images/banner-3.png)
          background-repeat no-repeat
          background-position right bottom
          background-size contain
          left 0
          top 7px
          z-index 1

  &--orange
    background $orange-2

    .banner__left
      +to-width(767px)
        &:after
          content ''
          position absolute
          opacity .41
          width 100%
          height 100%
          background-image url(../../app/images/banner-2.png)
          background-repeat no-repeat
          background-position right bottom
          background-size contain
          left 0
          top 0
          z-index 1

    .banner__img
      position absolute
      top 0
      left 42px

  &--detail-page
    height 352px

    .banner__left
      height 352px

    .banner__picture
      height 352px

  &__left
    display flex
    justify-content flex-start
    align-items center
    height 318px
    position relative

    +to-width(767px)
      height 226px !important

  &__title
    font-weight 300
    font-size 30px
    margin-bottom 11px

    +to-width(767px)
      font-size 24px

  &__description
    font-size 16px
    margin-bottom 30px
    line-height 20px
    max-width 400px
    padding-right 20px

    +to-width(767px)
      padding-right 0

  &__picture
    height 318px
    position relative

    +to-width(767px)
      height 226px !important
