.block-range-slider
  &__input-block
    margin-top 12px

  &__input
    width 100%
    -webkit-appearance none
    border 1px solid $orange
    padding 10px 0px 10px 12px
    display inline-block
    vertical-align middle

    +to-width(900px)
      font-size 10px

    +to-width(767px)
      font-size 16px

  &__line
    width 15px
    height 1px
    background black
    display inline-block
    vertical-align middle
    margin-left 11px
    margin-right 7.5px

  &__text
    display inline-block
    vertical-align middle
    margin-left 11px
    font-weight 300
    color black
    width 20px

  &__cont
    display flex
    align-items center

    &--right
      margin-left 3.5px