.breadcrumbs
  font-size 12px
  color $text-color
  margin-bottom 27px

  &--small
    margin-bottom 20px

  +to-width(767px)
    margin-bottom 0

  &__link
    text-decoration none
    color $orange-4
    display inline-block

    +to-width(767px)
      margin-bottom 9px

    &:hover
      text-decoration underline

  &__element
    display inline-block
    color $border-color

  &__default
    display inline-block

    +to-width(767px)
      margin-bottom 9px