.calculator
  padding 27px 0 102px
  font-weight 300

  +to-width(959px)
    padding 27px 0

  &__select
    &--top
      max-width 165px

    &--bottom
      max-width 212px

  &__title
    font-size 24px
    margin-bottom 21px

  &__select-title
    margin-bottom 12px

  &__value-block-value
    font-size 24px

  &__value-block

    &--one
      margin-bottom 15px

  &__pic
    min-width 188px

  &__item
    display flex
    margin-bottom 31px

    &:last-child
      margin-bottom 0

  &__logic
    padding-top 11px

  &__select-block
    margin-bottom 29px

  &__value-block
    display flex

  &__value-block-value
    text-align right

    &.line
      margin-right 6px
      display inline-block

  &__value-block-title
    text-align right
    margin-bottom 9px

    &.line
      margin-right 6px
      display inline-block

  &__value-block-item
    margin-right 49px
    white-space nowrap

    &:last-child
      margin-right 0

    &--normal
      white-space normal !important

  &__orange-btn
    height 50px
    width 50px
    border-radius 100%
    background $orange
    position relative
    margin-top 56px

    +to-width(767px)
      margin-top 40px

    &:after
      content ''
      position absolute
      width 15px
      height 9px
      left 17px
      bottom 10px
      background-position center
      background-repeat no-repeat
      background-image url(../../app/images/calc-arrow.svg)

    &:before
      content ''
      position absolute
      width 2px
      height 25px
      left 24px
      top 13px
      background white

  &__result
    border 1px solid $orange
    padding 17px 34px 50px 46px
    margin-top 18px

    +to-width(767px)
      padding 17px 15px 17px 15px

  &__check-item
    display inline-block
    cursor pointer
    margin-right 10px
    border-bottom 1px dashed

    &:hover
      border-bottom 1px solid transparent

    &.active
      border-bottom 1px solid transparent
      color $orange

  &__hand-write-title
    display inline-block
    margin-right 5px

  &__hand-write-input
    display inline-block
    width 60px
    margin-right 5px

    input[type=number]
      width 100%
      -webkit-appearance none
      display inline-block
      vertical-align middle
      border 1px solid $orange
      padding 9.5px 13px
      font-weight 300
      text-align center
      -moz-appearance textfield

      &::-webkit-inner-spin-button
        display: none!important

      &::-webkit-outer-spin-button
        display: none!important

  &__result-top
    display flex
    align-items center
    justify-content space-between
    margin-bottom 21px

    +to-width(767px)
      align-items flex-start

      .calculator__result-right
        text-align right

      .calculator__hand-write-title
        margin-bottom 5px

  &__result-info
    text-align center
    font-size 30px
    margin-top 41px
    margin-bottom 42px

    +to-width(767px)
      font-size 24px
      margin-top 29px
      margin-bottom 29px

  &__graph-block
    display flex
    justify-content space-between

  &__graph--left
    padding-top 7px
    padding-bottom 7px
    margin-right 20px
    min-width 151px

    .calculator__value-block-item
      margin-bottom 20px
      margin-right 0

      &:last-child
        margin-bottom 0

  &__graph--right
    width 100%
    background-image url(../../app/images/graph-line.png)
    background-repeat repeat-x
    background-position top left
    background-size contain
    position relative
    overflow hidden

  &__graph-line
    position absolute
    left 0
    height 32px
    transition all .5s ease-in

    &--grey
      top 18px
      background $grey-dark-2

    &--orange
      background $orange
      bottom 18px