.cart
  &__table
    margin-top 13px

  &__table-left
    white-space nowrap

    +to-width(959px)
      white-space normal

      .catalog-level-three__item-link
        font-size 13px

  &__table-right
    white-space nowrap

  &__table-cont
    display flex
    justify-content space-between
    align-items center
    height 106px

  &__mobile-block
    display flex
    justify-content flex-end
    align-items center
    margin-bottom 20px

    +to-width(767px)
      flex-direction column
      align-items flex-end

    .cart__table-all-price
      padding-right 0
      width auto
      margin-bottom 10px
      margin-top 10px

    .cart__table-old-price
      padding-right 0
      width auto
      margin-bottom 10px

    .cart__table-price
      padding-right 0
      width auto
      margin-bottom 10px

  &__table-item
    height 106px
    border-bottom 1px solid $grey-light

    +to-width(959px)
      height auto

  &__table-count
    width 131px
    display inline-block
    vertical-align middle

  &__table-buttons
    width 174px
    display inline-block
    vertical-align middle

  &__table-all-price
    text-align right
    padding-right 4vw
    width 211px
    display inline-block
    vertical-align middle

    +to-width(1170px)
      width 150px

    +to-width(959px)
      padding-right 0 !important

  &__table-price
    text-align right
    padding-right 2.4vw
    width 171px
    display inline-block
    vertical-align middle

    +to-width(1170px)
      width 115px

  &__table-old-price
    text-align right
    display inline-block
    vertical-align middle
    width 70px

  &__table-pic
    width 70px
    height 70px
    display inline-block
    vertical-align middle

  &__table-img
    width 70px
    height 70px
    background-repeat no-repeat
    background-size contain
    background-position center

  &__table-name
    padding-left 25px
    display inline-block
    vertical-align middle
    max-width 160px

    +to-width(767px)
      max-width 206px

  &__bottom-result
    display flex
    justify-content flex-end
    align-items center
    margin-top 25px

  &__bottom-result-title
    font-weight 300
    display inline-block
    margin-right 14px

  &__bottom-result-price
    font-size 24px
    font-weight 700

  &__bottom-logic
    display flex
    justify-content space-between
    align-items center
    margin-top 26px
    margin-bottom 48px

    +to-width(767px)
      display block

    .catalog-level-three__item-one-click
      display inline-block
      vertical-align middle
      font-size 16px !important

    .btn--orange
      display inline-block
      vertical-align middle

  &__bottom-logic-right
    margin-left 15px

    +to-width(959px)
      text-align right

    +to-width(867px)
      .catalog-level-three__item-one-click
        margin-bottom 10px

    +to-width(767px)
      .catalog-level-three__item-one-click
        margin-bottom 0

    +to-width(389px)
      .catalog-level-three__item-one-click
        margin-bottom 10px

  &__bottom-logic-left
    +to-width(959px)
      text-align left

    +to-width(767px)
      text-align right

    .cart__bottom-result-title
      margin-bottom 10px