.catalog-level-three
  padding 41px 0

  +to-width(767px)
    padding 24px 0

  &__left-col
    display flex
    justify-content space-between
    align-items center

  &__right-col
    display flex
    justify-content space-between
    align-items center

  &__items
    &--horizontal
      .catalog-level-three__fast-view
        display none !important

      .catalog-level-three__cont-desc
        max-width 300px
        margin-left 21px

        +to-width(959px)
          margin-left 15px !important

      .action
        display none

      .catalog-level-three__item-code-icon
        display none

      .catalog-level-three__item-pic
        height 64px
        width 64px
        margin 0

      .catalog-level-three__item-img
        height 64px
        width 64px

      .catalog-level-three__item
        height 79px
        display flex
        justify-content space-between
        align-items center
        padding 10px
        margin-bottom 21px

      .btn.btn--cart
        margin-left 20px

      .catalog-level-three__item-price
        margin 0 0 0 37px
        width 255px

        +to-width(1199px)
          width 240px

        +to-width(959px)
          width 215px
          margin 0 0 0 25px

        +to-width(880px)
          width 190px

        +to-width(767px)
          width 140px

      .catalog-level-three__item-link
        +to-width(959px)
          font-size 1.3vw !important

      .catalog-level-three__item-code-text
        +to-width(959px)
          font-size 1.1vw !important

      .catalog-level-three__item-compare
        +to-width(959px)
          font-size 1.3vw !important

      .catalog-level-three__item-one-click
        +to-width(959px)
          font-size 1.3vw !important

      .catalog-level-three__item-price-count-new
        +to-width(959px)
          font-size 1.5vw !important

        +to-width(767px)
          font-size 16px !important

      .btn--cart
        +to-width(959px)
          font-size 1.1vw !important

        +to-width(767px)
          font-size 0 !important
          padding 16px 14px 15px 33px !important

      .catalog-level-three__item-one-click
        white-space nowrap

      .catalog-level-three__item-logic
        margin 0
        display block

      .catalog-level-three__item-cont-link
        height auto

      .catalog-level-three__item-compare
        margin-bottom 12px

  &__title
    font-size 30px
    font-weight 300
    margin-bottom 34px

    &--mobile
      color white
      background $orange
      font-size 18px !important
      font-weight 700
      text-align center
      display block
      width 100%
      cursor pointer
      padding 21px 0
      margin-bottom 12px !important

    +to-width(767px)
      font-size 24px

    &--in-filter
      padding 21px 20px !important
      text-align left !important
      margin-bottom 0 !important
      position relative

      &:after
        content ''
        height 20px
        width 2px
        background white
        position absolute
        top 0
        bottom 0
        margin auto
        right 26px
        transform rotate(45deg)

      &:before
        content ''
        height 20px
        width 2px
        background white
        position absolute
        top 0
        bottom 0
        margin auto
        right 26px
        transform rotate(-45deg)

  &__bottom-block
    display flex
    align-items flex-end
    justify-content flex-end

    +to-width(767px)
      justify-content center

  &__top-block
    display flex
    justify-content space-between
    height 40px
    align-items center
    margin-bottom 22px

    +to-width(959px)
      height auto
      align-items flex-end
      flex-direction column

    +to-width(767px)
      margin-top 10px
      align-items flex-start
      margin-bottom 28px

  &__item
    border 1px solid $border-color
    padding 10px 15px
    margin-bottom 24px
    background white

    &:hover
      border 1px solid $orange
      box-shadow 0 3px 7px rgba(0, 0, 0, .3)

  &__item-cont-link
    height 44px
    display flex
    align-items flex-end
    overflow hidden

  &__item-link
    display inline-block
    font-weight 300
    text-transform uppercase
    text-decoration none
    color $text-color
    line-height 22px

    +to-width(1199px)
      font-size 1.3vw

    +to-width(959px)
      font-size 16px

    &:hover
      color $orange

  &__item-code
    display flex
    justify-content space-between
    align-items flex-end
    margin-top 5px

  &__item-logic
    display flex
    justify-content space-between
    align-items flex-end
    margin-top 21px

  &__item-compare
    font-weight 300
    text-decoration none
    color $text-color
    display block

    +to-width(1199px)
      font-size 1.3vw

    +to-width(959px)
      font-size 16px

    &:before
      content '\e803'
      width 10px
      height 11px
      font-size 11px
      display inline-block
      margin-right 8px
      font-family "icons-custom"
      position relative
      top -1px

    &:hover
      color $orange

  &__item-one-click
    font-weight 300
    color $text-color
    text-decoration none
    border-bottom 1px solid
    display block

    &--mobile
      margin-right 45px

    +to-width(1199px)
      font-size 1.3vw

    +to-width(959px)
      font-size 16px

    &:hover
      color $orange
      border-bottom 1px solid transparent

  &__item-code-text
    font-size 13px
    color $grey-light-3
    text-transform uppercase

    +to-width(1199px)
      font-size 1.1vw

    +to-width(959px)
      font-size 13px

  &__item-price
    display flex
    justify-content space-between
    align-items center
    box-sizing border-box
    margin-top 18px

  &__item-pic
    height 268px
    display flex
    align-items center
    align-content center
    justify-content center
    position relative
    margin auto

    &:hover
      .catalog-level-three__fast-view
        visibility visible
        opacity 1
        transition all .2s ease-in
        transform translateY(0px)

  &__item-img
    height 206px
    background-repeat no-repeat
    background-position center
    background-size contain
    width 100%

  &__fast-view
    position absolute
    width 100%
    text-align center
    font-weight 300
    text-transform uppercase
    text-decoration none
    height 49px
    line-height 51px
    color $text-color
    background rgba(255, 255, 255, .8)
    left 0
    top 0
    bottom 0
    margin auto
    visibility hidden
    opacity 0
    transition all .2s ease-in
    transform translateY(10px)

    +to-width(767px)
      display none !important

  &__item-price-count-new
    font-size 24px
    font-weight 700
    white-space nowrap

    &--orange
      color $orange

    +to-width(1199px)
      font-size 1.5vw

    +to-width(959px)
      font-size 24px

  &__item-price-count-old
    font-size 14px
    font-weight 300
    text-decoration line-through
    white-space nowrap

  &__item-code-icon
    position relative
    width 14px
    height 13px
    top -2px

    &--little
      .active
        background red !important

    &--secondary
      .active
        background $orange !important

    &--many
      .active
        background $green !important

    .line
      width 2px
      background $border-color
      position absolute
      bottom 0

      &.active
        background $green

    &--one
      height 6px
      left 0

    &--two
      height 9px
      left 4px

    &--three
      height 11px
      left 8px

    &--four
      height 13px
      left 12px