.catalog-level-two
  padding 92px 0 0

  +to-width(767px)
    padding 20px 0 0

  &__item
    margin-bottom 103px
    display table
    width 100%

    +to-width(767px)
      margin-bottom 20px

  &__text
    display table-cell
    vertical-align top
    padding-right 10px
    width 400px

  &__picture
    display table-cell
    vertical-align top
    width 132px

  &__img
    display block
    margin auto

  &__link
    color $orange
    font-weight 300
    font-size 30px
    text-decoration none
    display inline-block
    margin-bottom 15px

  &__description
    font-size 16px
    font-weight 300
    line-height 28px