.catalog-level-one
  &__cont
    height 315px
    display flex
    justify-content flex-start
    align-items center
    max-width 800px
    margin auto

    +to-width(767px)
      height auto
      display block
      padding 20px 0

  &__text-block
    padding-left 68px

    +to-width(767px)
      padding-left 0

  &__item
    &--white
      background white

    &--grey
      background $grey-light

  &__picture
    min-width 240px

    +to-width(767px)
      margin-bottom 17px

  &__img
    display block
    margin auto

  &__list
    margin-top 25px

  &__list-item
    display inline-block
    width 49%
    text-align left
    margin-bottom 18px

    &:last-child
      +to-width(767px)
        margin-bottom 0

    +to-width(767px)
      width 100%

  &__link
    text-decoration none
    display inline-block

    &:hover
      .main-light-catalog__description
        color $orange

  &__description
    font-size 16px
    line-height 28px
    font-weight 300
    margin-top 23px