.checkout
  padding 63px 0 56px

  +to-width(767px)
    padding 30px 0

  +to-width(959px)
    padding 30px 0

    .tabs__item
      float none
      width 100%
      margin-top -1px

  &__tab-content
    padding 15px 0
    margin-bottom 85px

    +to-width(767px)
      margin-bottom 15px

  &__bold-text-info
    font-weight 700
    text-transform uppercase
    margin-bottom 12px
    margin-top 10px

  &__info-text
    font-weight 300
    line-height 27px

  &__title
    font-weight 300
    font-size 30px
    margin-bottom 35px
    position relative

    +to-width(767px)
      font-size 24px
      margin-bottom 19px
      width 231px

    &--info
      padding-left 51px

      +to-width(767px)
        padding-left 47px

        &:before
          width 32px!important
          height 37px!important
          bottom auto!important

      &:before
        content ''
        width 35px
        height 40px
        background-image url(../../app/images/checkout-info.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

    &--delivery
      padding-left 41px

      +to-width(767px)
        padding-left 37px

        &:before
          width 23px!important
          height 37px!important
          bottom auto!important

      &:before
        content ''
        width 26px
        height 41px
        background-image url(../../app/images/checkout-delivery.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

    &--pay
      padding-left 54px

      +to-width(767px)
        padding-left 50px

        &:before
          width 37px!important
          height 37px!important
          bottom auto!important

      &:before
        content ''
        width 39px
        height 39px
        background-image url(../../app/images/checkout-pay.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

    &--makeup
      padding-left 59px

      +to-width(767px)
        padding-left 49px

        &:before
          width 37px!important
          height 33px!important
          bottom auto!important

      &:before
        content ''
        width 49px
        height 42px
        background-image url(../../app/images/checkout-makeup.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

    &--comment
      padding-left 47px

      +to-width(767px)
        padding-left 44px

        &:before
          width 33px!important
          height 37px!important
          bottom auto!important

      &:before
        content ''
        width 36px
        height 40px
        background-image url(../../app/images/checkout-comment.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

  &__table-cont
    width 100%
    position relative

    +to-width(959px)
      overflow-x scroll

    /*+to-width(959px)
      &:after
        content ''
        width 3px
        height 100%
        position absolute
        top 0
        right 0
        background rgba(0, 0, 0, .1)*/

  &__table
    margin-bottom 46px

    +to-width(959px)
      width 959px !important

  &__table-head
    font-size 12px !important
    font-weight 400 !important
    color $grey-detail !important
    padding-left 0 !important
    padding-bottom 7px

  &__table-name
    width 662px
    text-align left
    padding-left 3px

    .cart__table-name
      max-width none

    .catalog-level-three__item-link
      font-size 16px !important

  &__table-price-one
    width 154px
    text-align right
    font-size 24px
    font-weight 700

  &__table-count
    width 224px
    text-align center
    font-weight 300

  &__table-label
    padding-left 24px !important
    width 226px

  &__table-address
    width 347px

  &__table-time
    line-height 20px
    width 219px

  &__table-price
    width 160px
    text-align right
    font-size 24px
    font-weight 700

  &__table-item
    border-bottom 1px solid $border-color

    &--grey
      background $grey-light

    &--body
      height 110px

    &--detail
      height 59px !important

  &__bottom-text
    textarea
      width 100%
      -webkit-appearance none
      display inline-block
      vertical-align middle
      border 1px solid $orange
      background $grey-light
      padding 9.5px 21px
      font-weight 300
      color $grey-detail
      line-height 20px
      min-height 114px
      transition all .2s ease-in

      &:hover
        background white
        transition all .2s ease-in

      &:focus
        background white
        transition all .2s ease-in

  &__all-result
    display inline-block
    margin-top 2px

    +to-width(767px)
      margin-top 15px

  &__all-result-item
    width 100%
    display flex
    justify-content flex-start
    align-items center
    text-align right
    margin-bottom 17px

    &:last-child
      margin-bottom 31px

      +to-width(767px)
        margin-bottom 20px

  &__all-result-title
    font-weight 300
    margin-right 15px
    width 135px

  &__all-result-price
    font-weight 700
    font-size 24px