.checkbox-style

  &__input-checkbox
    display none

    &:checked
      +label
        &:before
          background-image url(../../app/images/arrow-check.svg)
          background-position center
          background-repeat no-repeat
          background-color $orange

  &__label
    font-weight 300
    position relative
    margin-left 31px
    cursor pointer
    border-bottom 1px solid transparent

    &:hover
      border-bottom 1px solid

    &--disabled
      color $border-color
      cursor default

      &:before
        border 1px solid $border-color !important
        background transparent !important

    &:before
      content ''
      height 20px
      width 20px
      border 1px solid $orange
      position absolute
      left -31px
      top 0
      bottom 0
      margin auto
      background transparent