.comparison-block
  padding 30px 0

  +to-width(1025px)
    .btn--back
      padding 12px 12px 11px 40px !important

      &:before
        left 14px

  .catalog-level-three__item-price-count-new
    font-size 24px !important

  .owl-nav
    .owl-next
      width 40px
      height 40px
      overflow hidden
      text-indent -999px
      transition all .2s ease-in
      display inline-block
      border 1px solid $border-color
      position absolute
      right 0
      top 79px
      margin auto

      &:after
        content '\e804'
        width 8px
        height 13px
        position absolute
        right 0
        left 0
        top 0
        bottom 0
        margin auto
        font-family "icons-custom"
        font-size 13px
        transition all .2s ease-in
        text-indent 0

      &:hover
        border 1px solid $orange
        transition all .2s ease-in

        &:after
          color $orange

    .owl-prev
      width 40px
      height 40px
      overflow hidden
      text-indent -999px
      transition all .2s ease-in
      display inline-block
      border 1px solid $border-color
      position absolute
      left 0
      top 79px
      margin auto

      &:after
        content '\e801'
        width 8px
        height 13px
        position absolute
        right 0
        left 0
        top 0
        bottom 0
        margin auto
        font-family "icons-custom"
        font-size 13px
        transition all .2s ease-in
        text-indent 0

      &:hover
        border 1px solid $orange
        transition all .2s ease-in

        &:after
          color $orange

  &__title
    font-weight 300
    margin-bottom 13px

  .tabs
    max-width 178px
    height 78px

    .tabs__item
      display block
      float none !important

    .tabs__link
      display block
      width 100%
      text-align center
      margin-top -1px !important

  &__slider-init
    +to-width(959px)
      margin-top 20px

  &__left
    padding-right 0 !important

    +to-width(959px)
      padding-right 12px !important

  &__right
    padding-left 0 !important

    +to-width(959px)
      padding-left 12px !important

  &__slider-item
    text-align center

    .btn--cart
      padding 12px 20px 12px 41px !important
      font-size 14px !important

  &__slider-pic
    height 152px
    max-width 145px
    margin 0 auto 30px
    background-repeat no-repeat
    background-position center
    background-size contain

  &__slider-btn
    display flex
    align-items center
    justify-content center

  &__btn-block-item
    .btn
      margin-top 40px

  &__refresh
    font-weight 300
    color #333
    text-decoration none
    border-bottom 1px solid
    display inline-block
    margin-top 18px

    &:hover
      color $orange
      border-bottom 1px solid transparent

  &__table-title
    font-size 14px
    font-weight 700
    text-transform uppercase

  &__table-item
    height 50px
    display flex
    align-items center
    justify-content center
    flex-direction column

    &--active
      background rgba(234, 123, 192, 0.08) !important

    &--name
      height 90px

    &--price
      height 76px

    &--head
      justify-content flex-start
      padding-left 20px
      flex-direction row

    &--grey
      background $grey-light

  &__table
    margin-top 32px
    font-weight 300

  &__desc-text
    max-width 250px
    line-height 22px
    color $text-color
    text-decoration none

    &:hover
      color $orange