.comparison

  +to-width(1000px)
    font-size 14px

  +to-width(959px)
    font-size 16px
    margin-bottom 15px

  +to-width(767px)
    margin-bottom 0

  &__item
    display inline-block
    margin-right 7px

    &:last-child
      margin-left 0

  &__link
    color $text-color
    font-weight 300
    text-decoration none
    border-bottom 1px dashed
    display inline-block
    vertical-align middle

    &:hover
      border-bottom 1px dashed transparent

    &.active
      font-weight 400
      color $orange
      text-decoration none
      border-bottom none