.constructor
  padding 48px 0

  +to-width(959px)
    padding 48px 0 0

  +to-width(767px)
    padding 20px 0 0

  &__form-cont
    height 446px
    display flex
    flex-direction column
    justify-content center

    +to-width(959px)
      margin-top 20px
      height auto

  &__small-slider-init
    max-width 635px
    margin 8px auto 0

    .owl-nav
      .owl-next
        width 40px
        height 40px
        overflow hidden
        text-indent -999px
        transition all .2s ease-in
        display inline-block
        border 1px solid $border-color
        position absolute
        right -75px
        top 31%
        margin auto

        &:after
          content '\e804'
          width 8px
          height 13px
          position absolute
          right 0
          left 0
          top 0
          bottom 0
          margin auto
          font-family "icons-custom"
          font-size 13px
          transition all .2s ease-in
          text-indent 0

        +to-width(1100px)
          right 4px

        &:hover
          border 1px solid $orange
          transition all .2s ease-in

          &:after
            color $orange

      .owl-prev
        width 40px
        height 40px
        overflow hidden
        text-indent -999px
        transition all .2s ease-in
        display inline-block
        border 1px solid $border-color
        position absolute
        left -78px
        top 31%
        margin auto

        &:after
          content '\e801'
          width 8px
          height 13px
          position absolute
          right 0
          left 0
          top 0
          bottom 0
          margin auto
          font-family "icons-custom"
          font-size 13px
          transition all .2s ease-in
          text-indent 0

        +to-width(1100px)
          left 2px

        +to-width(767px)
          left 1px

        &:hover
          border 1px solid $orange
          transition all .2s ease-in

          &:after
            color $orange

    .owl-stage
      display flex
      align-items flex-start
      height 147px

    .center
      .constructor__small-item
        max-width 187px
        height 147px
        border 1px solid $orange
        transition all .2s ease-in
        padding 10px 0 14px

      .constructor__small-pic
        height 79px
        opacity 1

      .constructor__desc
        color $text-color

  &__big-slider-init
    max-width 635px
    margin auto

    .owl-nav
      .owl-next
        width 40px
        height 40px
        overflow hidden
        text-indent -999px
        transition all .2s ease-in
        display inline-block
        border 1px solid $border-color
        position absolute
        right -75px
        top 50%
        margin auto

        &:after
          content '\e804'
          width 8px
          height 13px
          position absolute
          right 0
          left 0
          top 0
          bottom 0
          margin auto
          font-family "icons-custom"
          font-size 13px
          transition all .2s ease-in
          text-indent 0

        +to-width(1100px)
          right 4px

        &:hover
          border 1px solid $orange
          transition all .2s ease-in

          &:after
            color $orange

      .owl-prev
        width 40px
        height 40px
        overflow hidden
        text-indent -999px
        transition all .2s ease-in
        display inline-block
        border 1px solid $border-color
        position absolute
        left -78px
        top 50%
        margin auto

        &:after
          content '\e801'
          width 8px
          height 13px
          position absolute
          right 0
          left 0
          top 0
          bottom 0
          margin auto
          font-family "icons-custom"
          font-size 13px
          transition all .2s ease-in
          text-indent 0

        +to-width(1100px)
          left 2px

        +to-width(767px)
          left 1px

        &:hover
          border 1px solid $orange
          transition all .2s ease-in

          &:after
            color $orange

    .owl-stage
      display flex
      align-items flex-end
      height 311px

    .center
      .constructor__big-item
        max-width 187px
        height 311px
        border 1px solid $orange
        transition all .2s ease-in
        padding 14px 0 10px

      .constructor__big-pic
        height 220px
        opacity 1

      .constructor__desc
        color $text-color

  &__big-pic
    height 200px
    width 100%
    max-width 130px
    margin 0 auto 0
    background-size contain
    background-position center bottom
    background-repeat no-repeat
    opacity .5

  &__small-pic
    height 59px
    width 100%
    max-width 130px
    margin 0 auto 0
    background-size contain
    background-position center bottom
    background-repeat no-repeat
    opacity .5

  &__desc
    color $text-opacity
    font-weight 300
    text-transform uppercase

  &__big-item
    text-align center
    max-width 177px
    height 290px
    border 1px solid $grey-light-5
    margin auto
    transition all .2s ease-in
    display flex
    align-content space-between
    flex-direction column
    justify-content space-between
    padding 10px 0

  &__small-item
    text-align center
    max-width 177px
    height 138px
    border 1px solid $grey-light-5
    margin auto
    transition all .2s ease-in
    display flex
    align-content space-between
    flex-direction column
    justify-content space-between
    padding 10px 0

  .block-range-slider__line
    margin-right 11px !important

  .block-range-slider__input-block
    margin-top 4px !important

  .irs-slider
    top 25px !important

  .irs-bar, .irs-bar-edge
    top 25px !important

  .irs-line
    top 25px !important

  &__right
    width 307px

  &__block-btn
    .btn
      display block
      text-align center
      width 100%
      margin 0 !important
      padding 14px 20px 12px !important

  &__logic
    .shine-select
      &:last-child
        margin-bottom 40px