.contacts
  padding-bottom 49px !important
  font-weight 300

  +to-width(959px)
    padding-bottom 25px !important

  .form-info__title
    margin-right 1px !important

  .form-info__input
    padding-right 0 !important

    textarea
      min-height 291px !important