.copyright-fact
  &__link
    color $grey-text
    position relative
    display inline-block

    &:hover
      text-decoration none

    +to-width(767px)
      padding-left 23px
      font-size 12px
      text-decoration none
      margin-top 32px

      &:before
        content ''
        width 19px
        height 21px
        position absolute
        left 0
        top 0
        bottom 0
        margin auto
        background-image url(../../app/images/logo-fact.png)
        background-position center
        background-repeat no-repeat
        background-size cover