.count
  &__link
    font-weight 700
    color white
    text-transform uppercase
    text-decoration none
    font-size 12px
    position relative

    +to-width(1030px)
      font-size 10px

    &:hover
      text-decoration underline

    &:before
      content ''
      width 10px
      height 11px
      background-image url(../../app/images/comparison.svg)
      background-position center
      background-repeat no-repeat
      background-size cover
      display inline-block
      margin-right 8px