.counter
  width 131px
  display flex

  &__button
    height 40px
    width 40px
    border 1px solid $border-color
    display inline-block
    text-align center
    font-size 16px
    font-weight 300
    vertical-align top
    cursor pointer
    line-height 40px
    opacity 1
    transition all .2s ease-in
    user-select none

    &:hover
      transition all .2s ease-in
      border 1px solid $orange
      color $orange

  &__value
    width 51px
    height 40px
    border-top 1px solid $orange
    border-bottom 1px solid $orange
    text-align center
    display inline-block
    font-size 13px
    font-weight 300
    vertical-align top
    line-height 40px
    background $grey-light
    user-select none
    border-right 0
    border-left 0
    -moz-appearance textfield

    &::-webkit-inner-spin-button
      display: none!important

    &::-webkit-outer-spin-button
      display: none!important