.coupon
  display inline-block

  +to-width(767px)
    margin-bottom 26px

  &__text
    -webkit-appearance none
    display inline-block
    vertical-align middle
    border 1px solid $orange
    border-right 1px solid $border-color
    background $grey-light
    padding 10px 21px
    transition all .2s ease-in

    &:hover
      background white
      transition all .2s ease-in

    &:focus
      background white
      transition all .2s ease-in

    +to-width(767px)
      width 170px

  &__submit
    -webkit-appearance none
    display inline-block
    vertical-align middle
    font-size 16px
    font-weight 300
    padding 10px 21px
    border 1px solid $border-color
    border-left 0
    background transparent
    margin-left -4px

    +to-width(767px)
      padding 10px 10px