.description-block-text
  padding 53px 0

  +to-width(767px)
    padding 29px 0

  &__title
    font-weight 300
    font-size 30px
    position relative
    padding-left 54px

    +to-width(767px)
      font-size 24px
      padding-left 43px

      &:before
        width 33px !important
        height 31px !important

    &:before
      content ''
      width 42px
      height 39px
      background-image url(../../app/images/detail-description-text.svg)
      background-position center
      background-repeat no-repeat
      background-size cover
      position absolute
      left 0
      top 0
      bottom 0
      margin auto

  &__text
    margin-top 24px

  &__text-item
    line-height 28px
    font-weight 300