.description-detail-block
  background $grey-light
  padding 53px 0

  +to-width(767px)
    padding 29px 0

  &__title
    font-weight 300
    font-size 30px
    position relative
    padding-left 54px

    +to-width(767px)
      font-size 24px

    &--detail-description
      +to-width(767px)
        padding-left 46px

      &:before
        content ''
        width 35px
        height 35px
        background-image url(../../app/images/detail-description.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

      +to-width(767px)
        &:before
          width 34px !important
          height 34px !important

    &--video
      +to-width(767px)
        padding-left 42px

      &:before
        content ''
        width 40px
        height 31px
        background-image url(../../app/images/detail-video.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

      +to-width(767px)
        &:before
          width 31px !important
          height 24px !important

  &__video-cont
    margin-top 29px
    height 274px

    +to-width(767px)
      height 158px