.detail
  &__small-gallery
    margin-top 32px
    margin-left 45px

  &__small-gallery-item
    height 40px
    width 40px
    border 1px solid $border-color
    display inline-block
    margin-right 2px

    &:hover
      border 1px solid $orange

    &.active
      border 1px solid $orange

  &__small-gallery-pic
    height 35px
    background-repeat no-repeat
    background-position center
    background-size contain
    width 100%

  &__picture
    height 447px
    max-width 400px
    margin auto
    display flex
    justify-content center
    background-size contain
    background-position center
    background-repeat no-repeat

    &--modal
      height 335px

  &__text
    padding-top 24px

    &--modal
      padding-top 30px

  &__slider-hide
    height 0
    transition all .2s ease-in
    opacity 0

    &.open
      height 398px
      transition all .2s ease-in
      opacity 1

  &__show-photo
    border-bottom 1px dashed
    cursor pointer
    position relative
    display inline-block
    margin-left 52px
    margin-bottom 43px
    margin-top 22px

    &:hover
      border-bottom 1px solid transparent

    &:before
      content ''
      width 42px
      height 30px
      background-image url(../../app/images/detail-photo.svg)
      background-position center
      background-repeat no-repeat
      background-size cover
      position absolute
      left -52px
      top 0
      bottom 0
      margin auto

  &__slider-item
    height 280px
    border 1px solid $border-color
    width 100%
    display flex
    align-items center

    &--mobile
      border 1px solid transparent
      height 254px

      &:hover
        border 1px solid transparent !important

      .detail__slider-pic
        height 250px

    &:hover
      border 1px solid $orange

    &.active
      border 1px solid $orange

  &__slider-init
    +to-width(767px)
      .owl-next
        position absolute
        right 0
        margin auto
        background-image url(../../app/images/arrow-slider.svg)
        background-repeat no-repeat
        background-position center
        background-size cover
        overflow hidden
        text-indent -999px
        transition all .2s ease-in
        width 13px
        height 39px
        bottom auto
        top 29%

        &:hover
          opacity .5
          transition all .2s ease-in

      .owl-prev
        position absolute
        left 0
        margin auto
        background-image url(../../app/images/arrow-slider.svg)
        transform rotate(180deg)
        background-repeat no-repeat
        background-position center
        background-size cover
        overflow hidden
        text-indent -999px
        transition all .2s ease-in
        width 13px
        height 39px
        bottom auto
        top 29%

        &:hover
          opacity .5
          transition all .2s ease-in

  &__slider-pic
    height 270px
    background-repeat no-repeat
    background-position center
    background-size contain
    width 100%

  &__name
    font-size 24px
    font-weight 700
    text-transform uppercase
    margin-bottom 6px

  &__description
    font-size 18px
    color $link-menu-color
    margin-bottom 26px

  &__block-icons
    display flex
    justify-content flex-start
    margin-bottom 29px

    .catalog-level-three__item-compare
      font-size 16px !important

  &__stock
    margin-left 30px

    &--mobile
      margin-left 0
      margin-bottom 12px

    .catalog-level-three__item-code-icon
      display inline-block
      top 0

  &__stock-text
    display inline-block
    margin-left 5px
    font-weight 300

  &__price-block
    width 412px
    display flex
    justify-content space-between
    margin-bottom 16px

    +to-width(767px)
      width 100%

    .catalog-level-three__item-price-count-new
      margin-bottom 5px
      font-size 24px !important

    .catalog-level-three__item-price-count
      margin-top 12px

  &__price-block-item
    &--price-result
      width 100px

  &__price-block-title
    font-size 12px
    color $grey-detail
    margin-bottom 5px

  &__add-block
    width 412px
    display flex
    justify-content space-between
    align-items center

    +to-width(767px)
      width 100%
      margin-bottom 40px

    .catalog-level-three__item-one-click
      font-size 16px !important

    .btn--cart
      padding 12px 22px 9px 48px
      font-size 17px

      &:before
        left 18px