.download-block
  background $grey-light
  display flex
  justify-content flex-end

  +to-width(767px)
    padding 29px 0

  .cont
    max-width 680px
    margin 0
    width 100%

    +to-width(767px)
      max-width none

  &__cont
    height 352px
    display flex
    justify-content center
    flex-direction column

    +to-width(767px)
      height auto

  &__title
    font-weight 300
    font-size 30px
    position relative
    padding-left 54px

    +to-width(767px)
      font-size 24px
      width 230px
      padding-left 43px

      &:before
        width 30px !important
        height 32px !important
        bottom auto !important

    &:before
      content ''
      width 39px
      height 41px
      background-image url(../../app/images/detail-download.svg)
      background-position center
      background-repeat no-repeat
      background-size cover
      position absolute
      left 0
      top 0
      bottom 0
      margin auto

  &__list
    margin-top 40px

    +to-width(767px)
      margin-top 21px

  &__list-item
    &:last-child
      .download-block__list-link
        margin-bottom 0

  &__list-link
    display inline-block
    text-decoration none
    color $text-color
    font-weight 300
    position relative
    margin-bottom 15px
    padding-left 27px
    line-height 23px

    +to-width(767px)
      &:before
        top 4px !important
        width 14px !important
        height 16px !important
        bottom auto !important

    &:hover
      &:before
        transition all .2s ease-in
        transform translateY(-2px)

    &:before
      content ''
      width 18px
      height 20px
      background-image url(../../app/images/detail-downloan-arrow.svg)
      background-position center
      background-repeat no-repeat
      background-size cover
      position absolute
      left 0
      top 0
      bottom 0
      margin auto
      transition all .2s ease-in
      transform translateY(0px)