.filter
  &--order
    display block !important
    padding-right 59px

    +to-width(1182px)
      padding-right 0 !important

      .table-border-element
        &:after
          display none

      .checkout__table
        width 100% !important

      .filter__title
        font-size 14px !important

      .catalog-level-three__item-link
        font-size 12px !important

      .checkout__table-price-one
        font-size 17px

      .checkout__table-price
        font-size 17px

    +to-width(659px)
      .checkout__table
        width 659px !important

      .catalog-level-three__item-link
        font-size 16px !important

      .checkout__table-price-one
        font-size 24px

      .checkout__table-price
        font-size 24px

      .table-border-element
        &:after
          display block

    +to-width(767px)
      .filter__title
        font-size 15px !important
        flex-direction column !important
        align-items flex-start !important
        padding 12px 28px 10px 30px !important

        &:after
          left 12px !important

    +to-width(959px)
      padding-right 0

    .checkout__table-name
      width 319px

    .checkout__table-price-one
      width 120px

    .checkout__table-count
      width 100px

    .checkout__table-price
      width 120px

    .cart__table-name
      display table-cell

    .cart__table-pic
      display table-cell

    .filter__title
      border 1px solid $border-color
      font-weight 300
      text-transform none
      display flex
      justify-content space-between
      align-items center
      padding 12px 28px 10px 41px
      font-size 16px

      &:after
        right auto
        left 21px

    .filter__block
      border 1px solid transparent
      border-top 0

      &.active
        border 1px solid $border-color
        border-top 0
        padding 24px 25px

  +to-width(767px)
    display none

    &.active
      display block
      position fixed
      top 0
      left 0
      width 100%
      z-index 99999
      height 100%
      background white
      overflow-y scroll

      form
        padding 20px

  &__item
    margin-bottom 60px
    position relative

    +to-width(767px)
      margin-bottom 30px

  &__list-item
    margin-top 21px

  &__title
    font-weight 700
    font-size 14px
    text-transform uppercase
    cursor pointer
    display inline-block
    position relative
    white-space nowrap
    border-bottom 1px solid transparent

    &:hover
      border-bottom 1px solid $text-color

    +to-width(920px)
      font-size 12px

    +to-width(767px)
      font-size 14px

    &.active
      border-bottom 1px solid $text-color

      &:after
        transform rotate(180deg)

    &:after
      content ''
      position absolute
      top 0
      right -20px
      bottom 0
      margin auto
      height 6px
      width 10px
      background-image url(../../app/images/arrow-button-open.svg)
      background-size cover
      background-position center
      background-repeat no-repeat

  &__block
    height 0
    overflow hidden

    &.active
      height 100%
      overflow visible

  &__refresh
    background transparent
    border none
    -webkit-appearance none
    font-size 16px
    border-bottom 1px solid
    margin-right 1.1vw

    +to-width(1140px)
      margin-bottom 15px

    &:hover
      border-bottom 1px solid transparent
      color $orange

  &__result-block
    position absolute
    right -135px
    z-index 1
    background white
    border 1px solid $text-color
    padding 11px 0
    top -10px
    margin auto
    height 40px
    width 185px
    text-align center
    box-shadow 0px 10px 12px -9px rgba(0,0,0,0.48)

    +to-width(767px)
      display none !important

    &:before
      content ''
      width 0
      height 0
      border-style solid
      border-width 20px 17px 20px 0
      border-color transparent #333333 transparent transparent
      position absolute
      left -18px
      top 0
      bottom 0
      margin auto

    &:after
      content ''
      width 0
      height 0
      border-style solid
      border-width 20px 17px 20px 0
      border-color transparent white transparent transparent
      position absolute
      left -17px
      top 0
      bottom 0
      margin auto

  &__result-block-link
    display inline-block
    text-decoration none
    text-transform uppercase
    font-size 16px
    color $text-color
    font-weight 700

    &:hover
      border-bottom 1px solid