.footer
  &__top
    background $grey-light
    padding 39px 0

    +to-width(767px)
      padding 30px 0

  &__bottom
    background $grey-dark
    font-size 12px
    color $grey-text

    .cont
      display flex
      justify-content space-between
      height 72px
      align-items center

      +to-width(767px)
        height 91px