.footer-top-menu
  display flex
  justify-content space-between

  +to-width(959px)
    display block
    padding-left 40px

  &__item
    +to-width(959px)
      width 32.333%
      display inline-block
      vertical-align top

  &__title
    color $text-color
    font-size 13px
    text-transform uppercase
    font-weight 700
    margin-bottom 11px

  &__list-item
    margin-bottom 12px

    &:last-child
      margin-bottom 0

  &__link
    color $link-menu-color
    font-size 13px
    text-decoration none

    &:hover
      text-decoration underline