.form-info
  padding-top 26px
  padding-bottom 81px

  &__buttons-block-item
    .btn--light
      padding 12px 21px 12px !important
      margin-bottom 25px

  .select2-container--default .select2-selection--single
    background $grey-light

  +to-width(767px)
    padding-top 0
    padding-bottom 5px

  &__left
    margin-top 6px

  &__text-info
    font-size 12px
    color $grey-detail
    margin-top 8px
    line-height 20px

  &__buttons-block
    margin-top 24px

    .btn
      padding 10px 29px 8px

  &__item
    display flex
    justify-content space-between
    align-items flex-start
    margin-bottom 30px

    +to-width(767px)
      flex-direction column
      align-items flex-start

  &__title
    font-weight 300
    width 160px
    margin-right 11px
    margin-top 13px

    &--contacts
      width 90px !important

    &--feedback
      width 199px !important

    +to-width(767px)
      margin-bottom 10px
      width auto
      margin-top 0

  &__text
    font-weight 300
    line-height 27px
    margin-bottom 30px

  &__password-block
    margin-top 69px

    +to-width(767px)
      margin-top 40px

  &__input
    width 100%
    padding-right 27px

    &--list
      display flex
      justify-content space-between

      .form-info__input--list-cont
        padding-right 24px

        &:last-child
          padding-right 0

      +to-width(767px)
        flex-direction column

        .form-info__input--list-cont
          padding-right 0

        input[type=text]
          margin-right 0 !important
          margin-bottom 10px

    &--feedback
      textarea
        min-height 216px !important

    +to-width(767px)
      padding-right 0

    input[type=text]
      width 100%
      -webkit-appearance none
      display inline-block
      vertical-align middle
      border 1px solid $orange
      background $grey-light
      padding 9.5px 21px
      font-weight 300
      color $text-color
      transition all .2s ease-in

      &:hover
        background white
        transition all .2s ease-in

      &:focus
        background white
        transition all .2s ease-in

      &::-webkit-input-placeholder
        color $grey-detail

      &::-moz-placeholder
        color $grey-detail

      &:-moz-placeholder
        color $grey-detail

      &:-ms-input-placeholder
        color $grey-detail

    input[type=password]
      width 100%
      -webkit-appearance none
      display inline-block
      vertical-align middle
      border 1px solid $orange
      background $grey-light
      padding 9.5px 21px
      font-weight 300
      color $text-color
      transition all .2s ease-in

      &:hover
        background white
        transition all .2s ease-in

      &:focus
        background white
        transition all .2s ease-in

      &::-webkit-input-placeholder
        color $grey-detail

      &::-moz-placeholder
        color $grey-detail

      &:-moz-placeholder
        color $grey-detail

      &:-ms-input-placeholder
        color $grey-detail

    textarea
      width 100%
      -webkit-appearance none
      display inline-block
      vertical-align middle
      border 1px solid $orange
      background $grey-light
      padding 9.5px 21px
      font-weight 300
      color $text-color
      line-height 20px
      min-height 65px
      transition all .2s ease-in

      &:hover
        background white
        transition all .2s ease-in

      &:focus
        background white
        transition all .2s ease-in

      &::-webkit-input-placeholder
        color $grey-detail

      &::-moz-placeholder
        color $grey-detail

      &:-moz-placeholder
        color $grey-detail

      &:-ms-input-placeholder
        color $grey-detail