.header
  position fixed
  top 0
  left 0
  width 100%
  z-index 700

  +to-width(767px)
    box-shadow 0 0 10px rgba(0, 0, 0, .3)

  &__bottom-mobile-logo
    overflow hidden
    position relative
    height 100%
    display flex
    align-items center

  &__top
    background rgba(255, 255, 255, .9)

    .cont
      display flex
      justify-content space-between
      align-items center
      height 52px

  &__bottom-cont-elements
    position relative

  &__bottom
    background $orange

    .cont
      display flex
      justify-content space-between
      align-items center
      height 52px
      position relative

      +to-width(959px)
        height 45px

        &:before
          height 45px !important
          background linear-gradient(to right, #cfd0d2 0%,#cfd0d2 100%) !important

        &:after
          height 45px !important
          width 76px !important
          background linear-gradient(to right, #cfd0d2 0%,#cfd0d2 100%) !important

      &:before
        content ''
        position absolute
        left 3px
        top 0
        width 100%
        height 52px
        transform translateX(-100%)
        background linear-gradient(to right, #000000 0%,#c4c5c7 100%)

      &:after
        content ''
        position absolute
        left 3px
        top 0
        width 62px
        height 52px
        background linear-gradient(to right, #c4c5c7 0%,#ced0d2 100%)

      .element
        position absolute
        left 33px
        top 0
        width 100px
        height 100px
        background $orange
        z-index 1
        transform rotate(15deg)

        +to-width(959px)
          left 45px