.header-bottom-menu
  display inline-block
  vertical-align middle

  &__item
    display inline-block
    position relative

    &:hover
      .header-bottom-menu__link
        z-index 2
        color $orange

        &:after
          transform rotate(180deg)
          transition all .2s ease-in

      .header-bottom-menu__hide
        display block

  &__link
    font-weight 700
    color white
    text-transform uppercase
    text-decoration none
    font-size 12px
    margin-right 3vw
    position relative

    +to-width(1140px)
      margin-right 2vw

    +to-width(1030px)
      font-size 10px

    &:after
      content '\e802'
      width 10px
      height 6px
      position absolute
      right -15px
      top 0
      bottom 0
      margin auto
      font-family "icons-custom"
      font-size 6px
      transition all .2s ease-in

  &__hide
    display none
    position absolute
    top -19px
    z-index 1
    background white
    left -1.2vw
    right 0.7vw
    box-shadow 0 0 11px rgba(0, 0, 0, .08)
    padding 62px 1.2vw 10px 1.2vw

    +to-width(1140px)
      padding 62px 0.5vw 10px 0.5vw
      left -0.5vw
      right 0.2vw

  &__hide-link
    text-decoration none
    color $text-color
    font-size 12px
    margin-bottom 6px
    display block
    line-height 17px

    +to-width(1140px)
      font-size 11px

    +to-width(1130px)
      font-size 9px

    &:hover
      color $orange
