.header-tabs
  display flex
  justify-content space-between
  align-items center
  margin-top 12px

  &__fix-cont
    background $grey-light
    padding 18px 20px

    &.active
      position fixed
      width 100%
      left 0
      top 104px
      z-index 2
      max-width none
      padding 18px 0
      min-width auto

      .header-tabs__left
        max-width 1360px
        margin auto
        padding 0 20px
        min-width 320px

      +to-width(959px)
        top 45px

  &--fixed
    margin 0
    height 76px

    +to-width(767px)
      height 110px

    .cont
      width 100%
      z-index 3

      +to-width(767px)
        text-align center

  +to-width(767px)
    justify-content center

  &__title
    font-weight 300
    margin-right 23px
    display inline-block
    vertical-align middle

  &__cont
    display inline-block
    vertical-align middle

  &__hot-fix
    display none
    height 76px

    &.active
      display block

  &--about-page
    position relative !important
    height auto !important

    .header-tabs__fix-cont
      background white !important
      position relative !important
      top 0 !important

  &--help-page
    position relative !important
    height auto !important

    .header-tabs__fix-cont
      position relative !important
      top 0 !important