.header-top-menu
  display inline-block

  &__item
    display inline-block
    margin-left 2vw

  &__link
    display inline-block
    text-decoration none
    font-size 12px
    color $text-color

    &:hover
      text-decoration underline