.header-text
  &__picture
    display flex
    justify-content center

  &__text
    font-weight 300
    font-size 16px
    line-height 28px
    padding-bottom 15px

  &__hide
    height 0
    overflow hidden
    transition all .2s ease-in
    opacity 0

    &.open
      height 100%
      transition all .2s ease-in
      opacity 1
