.helps-page
  &__title
    font-size 30px
    font-weight 300
    margin-bottom 33px

    +to-width(767px)
      font-size 24px

  &__small-title
    font-size 16px
    font-weight 700
    text-transform uppercase
    margin-bottom 15px

    +to-width(790px)
      font-size 15px

    +to-width(767px)
      font-size 16px

    &--garants
      &:before
        content ''
        display inline-block
        vertical-align middle
        height 43px
        width 34px
        background-image url(../../app/images/help-icon-1.png)
        background-position center
        background-repeat no-repeat
        background-size cover
        margin-right 9px

    &--presence
      &:before
        content ''
        display inline-block
        vertical-align middle
        height 41px
        width 41px
        background-image url(../../app/images/help-icon-2.png)
        background-position center
        background-repeat no-repeat
        background-size cover
        margin-right 11px

    &--assembly
      &:before
        content ''
        display inline-block
        vertical-align middle
        height 43px
        width 44px
        background-image url(../../app/images/help-icon-3.png)
        background-position center
        background-repeat no-repeat
        background-size cover
        margin-right 8px

  &__text
    font-weight 300
    line-height 28px
    padding-bottom 18px

  &__link-block
    margin-bottom 50px

    .main-light-catalog__description
      text-align left
      color $orange

    .main-light-catalog__item
      margin-bottom 17px
      display inline-block

      &:hover
        .main-light-catalog__description
          text-decoration underline

  &__pic
    max-width 523px
    margin-top 31px
    margin-bottom 73px

    img
      width 100%

  &__tips
    padding 42px 0

  &__pay
    background $grey-light
    padding 40px 0

  &__serve
    background $grey-light
    padding 40px 0

  &__delivery
    background white
    padding 40px 0

  &__items-text
    display flex
    justify-content space-between
    align-items flex-start

    +to-width(767px)
      display block

  &__item-text
    max-width 302px
    padding 0 10px

    +to-width(767px)
      margin 0 auto 20px

    .helps-page__small-title
      line-height 20px
      margin-bottom 11px

    .helps-page__text
      margin-bottom 5px

  &__icon
    height 191px
    width 191px
    border-radius 100%
    overflow hidden
    background $grey-dark-3
    margin 9px auto 46px

  &__btn-block
    +to-width(767px)
      text-align center !important

    &--flex
      display flex
      justify-content space-between

      +to-width(767px)
        display block
        text-align left !important

        .btn
          &:first-child
            margin-bottom 10px !important

  &__item-block-btn
    text-align center
    padding-top 13px

  &__faq
    padding 42px 0

  &__small-desc
    color $grey-detail
    font-size 12px
    margin-bottom 27px

  &__faq-item
    margin-bottom 52px

    &:last-child
      margin-bottom 16px

    .helps-page__small-title
      margin-bottom 12px

  &__design
    padding 71px 0 115px

    +to-width(767px)
      padding 30px 0

  &__design-item
    margin-bottom 24px
    height 282px
    position relative
    overflow hidden

    &:hover
      .helps-page__design-text
        height 100%
        transition all .2s ease-in

  &__design-pic
    width 100%
    height 222px
    background-position center
    background-repeat no-repeat
    background-size cover

  &__design-text
    position absolute
    left 0
    bottom 0
    height 60px
    background $orange
    transition all .2s ease-in
    width 100%
    padding 10px 20px
    color #fff
    font-size 13px
    line-height 20px

    .btn
      color white !important
      border 1px solid white !important
      padding 9px 25px !important

  &__design-title
    height 40px
    overflow hidden
    max-width 232px

  &__design-desc
    margin-top 21px
    height 120px
    overflow hidden
    margin-bottom 17px
    max-width 232px