.help
  padding 44px 0 5px
  position relative
  z-index 1

  &__int-cont
    max-width 664px
    margin auto
    display flex
    justify-content space-between
    align-items center
    border-bottom 1px solid $border-color

  &__int-title-big
    font-size 24px
    font-weight 700
    text-transform uppercase
    margin-bottom 18px

  &__int-title
    font-weight 300
    margin-bottom 15px
    margin-right 29px

    &:last-child
      margin-right 0

  &__int-city-cont
    margin-top 90px

    +to-width(767px)
      margin-top 30px

  &__int-city-item-small
    height 140px
    overflow hidden
    margin-bottom 28px

  &__int-city-item
    p
      font-weight 300
      margin-bottom 12px

  &__int-city-item-title
    font-size 20px
    font-weight 700
    margin-bottom 14px

  &__int-city-item-title-small
    font-weight 700
    margin-bottom 12px

  &__int-pic
    margin-right 17px

    img
      display block

  &__cont-city
    margin-top 20px
    margin-bottom 48px

    +to-width(767px)
      margin-top 25px
      margin-bottom 0

  &__int-cont-title
    display flex

  &__city-item-map
    display none

    &.active
      display block

  +to-width(767px)
    padding 25px 0

    .map__cont
      padding 0 20px

    .map--help
      height 300px

  &__title
    font-size 30px
    font-weight 300
    margin-bottom 19px

    +to-width(767px)
      font-size 24px

  &__city-cont
    display flex
    justify-content flex-start
    align-items center
    margin-top 52px

    +to-width(767px)
      display block

      .btn
        margin-left 0 !important

    .btn
      margin-left 22px
      font-size 16px
      padding 11px 26px

  &__city-title
    color $grey-detail
    font-size 12px
    display inline-block
    vertical-align middle
    margin-right 4px

  &__city-value
    display inline-block
    vertical-align middle

  &__city-item
    +to-width(767px)
      margin-bottom 15px

    &:first-child
      margin-right 44px

  &__retail-cont
    margin-top 30px
    margin-bottom 13px

  &__retail-item
    display flex
    justify-content center
    align-items center
    height 92px
    width 100%
    border 1px solid transparent
    cursor pointer
    margin-bottom 18px
    overflow hidden

    &.active
      border 1px solid $orange

    &:hover
      border 1px solid $orange

    img
      display block
      margin auto

  &__retail-result-cont
    padding-top 57px
    border-bottom 1px solid $border-color-2
    margin-bottom 58px

    +to-width(767px)
      padding-top 25px
      margin-bottom 25px

    .cont
      column-count 2
      column-gap 40px

      +to-width(767px)
        column-count 1
        column-gap 0

  &__retail-result-item
    padding-bottom 60px
    font-weight 300
    display inline-block
    width 100%

    +to-width(767px)
      padding-bottom 25px

    p
      line-height 28px

  &__select-pie
    font-weight 300
    margin-top 10px
    margin-bottom 10px
    line-height 20px

    +to-width(767px)
      margin-top 0

#mapPaper
  width 100%
  height 500px
  user-select none

  +to-width(767px)
    height 0

  svg
    padding 60px 0
    margin-top -60px
    overflow visible !important
    width 100% !important

    +to-width(1199px)
      padding 40px 70px

    +to-width(767px)
      padding 0 !important

.mapArea
  display inline-block