.info-country
  &__item
    margin-bottom 31px

    &:last-child
      margin-bottom 0

  &__title
    color $text-color
    font-size 13px
    text-transform uppercase
    font-weight 700
    margin-bottom 11px

  &__description
    color $link-menu-color
    font-size 13px
    line-height 18px
    white-space nowrap

    &--dark
      color $text-color