.input-search
  position absolute
  right 0
  top 0
  bottom 0
  margin auto
  height 40px
  transition all .3s ease

  &.active
    width 100%
    transition all .3s ease

  &__input
    position absolute
    right 0
    top 0
    bottom 0
    margin auto
    height 40px
    width 0
    opacity 0
    transition all .3s ease
    -webkit-appearance none
    border 0
    border-radius 3px
    font-size 13px

    &.active
      width 100%
      opacity 1
      transition all .3s ease
      padding 0 10px

  &__close
    position absolute
    right 10px
    top 0
    bottom 0
    margin auto
    cursor pointer
    color $search-color
    font-size 17px
    height 16px
    visibility hidden

    &.active
      visibility visible
      opacity 1
      transition all .3s ease