.main-light-catalog
  padding 47px 0

  +to-width(767px)
    padding 20px 0

    .main-light-catalog__title
      margin-bottom 12px

  &__item-cont
    &:last-child
      .main-light-catalog__item
        +to-width(767px)
          margin-bottom 0

  &__title
    font-size 30px
    font-weight 300
    color $text-color
    display inline-block
    vertical-align middle

    +to-width(767px)
      font-size 24px

  &__button
    display inline-block
    vertical-align middle
    margin-left 15px

    +to-width(767px)
      margin-left 0
      display block

  &__cont
    margin-top 35px

    +to-width(767px)
      margin-top 27px

  &__item
    text-decoration none
    display block
    margin-bottom 39px

    &:hover
      .main-light-catalog__description
        color $orange

    +to-width(767px)
      margin-bottom 18px

    &--big
      width 511px
      float right

      +to-width(1100px)
        width 100%

      +to-width(1115px)
        padding-left 30px

      +to-width(959px)
        padding-left 0

  &__img
    display block
    margin auto

    +to-width(767px)
      height 100%

    &--big
      display block
      margin auto
      position relative
      z-index 2

      +to-width(1115px)
        max-width 300px

      +to-width(959px)
        max-width none

  &__description
    text-align center
    font-weight 300
    font-size 16px
    color $text-color
    margin-top 3px
    transition all .2s ease-in

    +to-width(1100px)
      font-size 13px
      transition all .2s ease-in

    +to-width(767px)
      text-align left
      font-size 16px
      transition all .2s ease-in

    &:before
      content ''
      width 17px
      height 13px
      margin-bottom 3px
      margin-right 5px
      background $orange
      display inline-block
      vertical-align middle

    &--big
      font-size 24px
      font-weight 300
      margin-top 23px
      margin-bottom 19px

  &__picture
    height 230px
    display flex
    align-items center

    +to-width(767px)
      margin-bottom 17px
      height 133px

    &--big
      display flex
      position relative
      justify-content center

      +to-width(1100px)
        &:before
          width 100% !important

      &:before
        content ''
        position absolute
        max-width 511px
        height 252px
        top 0
        bottom 0
        left 0
        right 0
        z-index 1
        border 1px solid $orange
        margin auto

        +to-width(1115px)
          height 140px

        +to-width(959px)
          height 252px

  &__list-item
    font-weight 300
    font-size 16px
    color $text-color
    margin-bottom 12px

  &__list
    margin-bottom 24px