.main-news
  background $grey-light-4
  padding 39px 0

  +to-width(767px)
    padding 23px 0

  &__line
    width 100%
    height 1px
    background $line-color
    margin-top 37px
    margin-bottom 27px

  &__left
    +to-width(959px)
      margin-bottom 30px

    +to-width(767px)
      margin-bottom 0

  &__bg
    display inline-block
    background $grey-light-4
    position relative
    z-index 2
    padding-right 19px

  &__item-in
    +to-width(767px)
      margin-bottom 31px

      &:last-child
        margin-bottom 13px

  &__item
    padding-right 31px

  &__cont
    margin-bottom 25px
    position relative
    margin-right 17px

    +to-width(767px)
      margin-bottom 21px

      &:after
        display none

    &:after
      content ''
      height 1px
      width 100%
      background $line-color
      position absolute
      left 0
      right 0
      bottom 0
      top 0
      margin auto
      z-index 1

  &__date
    color $grey-light-3
    font-size 12px
    margin-bottom 8px

  &__title
    color $text-color
    font-size 16px
    font-weight 700
    line-height 19px
    margin-bottom 11px

  &__description
    color $text-color
    font-size 13px
    line-height 18px