.main-page-slider
  margin-top 104px
  background $grey

  +to-width(959px)
    margin-top 45px

  &__item
    height calc(100vh - 52*2px)

    +to-width(959px)
      height calc(100vh - 45px)

  &__left
    height calc(100vh - 52*2px)
    display flex
    align-items center

    +to-width(959px)
      height calc(100vh - 45px)

  &__img
    margin-left 9vw
    max-width 609px

  &__right
    height calc(100vh - 52*2px)
    display flex
    flex-flow row wrap
    align-content space-between
    justify-content center
    padding 90px 0
    width 573px
    float right
    text-align center

    +to-width(959px)
      height calc(100vh - 45px)

    +to-width(767px)
      max-width 573px
      margin auto
      float none
      width auto
      padding 21px 0

  &__top-title
    font-weight 300
    color $text-color
    font-size 20px
    min-width 280px

    +to-width(767px)
      max-width 250px

  &__bottom-title
    color $text-color

    +to-width(767px)
      text-align right

    &--dark
      font-size 24px
      font-weight 700
      margin-bottom 10px

      +to-width(767px)
        max-width 280px
        float right

    &--light
      font-size 16px
      font-weight 300

      +to-width(767px)
        max-width 250px
        float right

  &__button
    text-align right
    margin-top 32px
    margin-right 33px

    +to-width(767px)
      margin-right 0

  .owl-next
    position absolute
    right 0
    width 28px
    height 92px
    margin auto
    top 0
    bottom 0
    background-image url(../../app/images/arrow-slider.svg)
    background-repeat no-repeat
    background-position center
    background-size cover
    overflow hidden
    text-indent -999px
    transition all .2s ease-in

    +to-width(767px)
      width 13px
      height 39px
      bottom auto
      top 35%

    &:hover
      opacity .5
      transition all .2s ease-in

  .owl-prev
    position absolute
    left 0
    width 28px
    height 92px
    margin auto
    top 0
    bottom 0
    background-image url(../../app/images/arrow-slider.svg)
    transform rotate(180deg)
    background-repeat no-repeat
    background-position center
    background-size cover
    overflow hidden
    text-indent -999px
    transition all .2s ease-in

    +to-width(767px)
      width 13px
      height 39px
      bottom auto
      top 35%

    &:hover
      opacity .5
      transition all .2s ease-in