.map
  height 615px
  width 100%
  position relative
  z-index 1

  &--help
    height 699px

  &__cont
    position relative

  &__select-city
    position absolute
    margin 0 !important
    top 45px
    left 0
    width 100%
    z-index 2

    .select2-selection
      height 30px !important
      background-color $orange !important
      border-radius 3px

    .select2-selection__rendered
      line-height 30px !important
      color white !important
      font-weight 700 !important

    .select2-selection__arrow
      height 30px !important

      b
        background-image url(../../app/images/arrow-button-open-white.svg) !important

  &__select-city-cont
    background alpha(white, .95)
    width 355px
    padding 27px 36px

  &__select-city-title
    font-size 30px
    font-weight 300
    margin-bottom 11px

  &__select-city-subtitle
    font-size 16px