.mobile-menu
  position fixed
  left 0
  width 100%
  bottom 0
  height 0
  background rgba(0, 0, 0, .8)
  display flex
  flex-direction column
  justify-content center
  align-items flex-start
  transition all .3s ease
  z-index 2
  visibility hidden
  padding-left 45px

  &.active
    height 100%
    transition all .3s ease
    visibility visible

  &__icon
    width 26px
    height 16px
    display inline-block
    vertical-align middle
    position relative
    z-index 3
    margin-right 15px
    cursor pointer

  &__icon-item
    width 26px
    height 2px
    background $text-color
    position relative
    transition all .3s ease

  &__icon-cont
    width 26px
    height 16px
    display flex
    flex-direction column
    justify-content space-between

    &.active
      justify-content center

      .mobile-menu__icon-item--one
        transform rotate(-45deg)
        top 2px
        background white

      .mobile-menu__icon-item--two
        display none

      .mobile-menu__icon-item--three
        transform rotate(45deg)
        background white

  &__list-link
    font-size 16px
    color white
    text-decoration none
    font-weight 300
    margin-bottom 24px
    display inline-block

  &__block-search
    position relative
    margin-top 8px
    margin-bottom 50px

    input[type=text]
      font-size 16px
      border none
      color white
      background transparent
      -webkit-appearance none
      border-bottom 1px solid
      width 229px
      padding 8px 0

    input[type=submit]
      position absolute
      right 0
      top 0
      bottom 0
      height 16px
      width 16px
      background-image url(../../app/images/search.svg)
      background-position center
      background-repeat no-repeat
      background-size cover
      margin auto
      border none
      background-color transparent

  &__count-block
    margin-bottom 24px

    .small-cart
      display inline-block
      margin-right 40px

      .small-cart__link
        font-size 16px
        font-weight 300

    .count
      display inline-block

      .count__link
        font-size 16px
        font-weight 300

  .select-city
    margin-bottom 25px