.modal
  display none

  &__cont
    padding 5px 20px

    .form-info
      padding-top 18px !important
      padding-bottom 0 !important

    .form-info__item
      margin-bottom 20px !important

    .socials__link
      height 35px !important
      width 35px !important
      background $grey-dark !important

      .fa
        font-size 17px !important
        line-height 35px !important

    .tabs
      margin-bottom 20px

    .checkout__tab-content
      padding 0 !important
      margin 0 !important

    +to-width(767px)
      .tabs__item
        float none !important
        margin-top -1px !important

        .tabs__link
          width 100%

  &__title
    font-size 30px
    font-weight 300
    margin-bottom 20px

    &--small
      font-size 24px

    +to-width(767px)
      font-size 24px

  &__list-item
    display inline-block

  &__list-link
    color $text-color
    font-weight 300
    text-decoration none
    border-bottom 1px solid transparent
    display inline-block
    margin-bottom 15px
    margin-right 20px

    &.active
      color $orange
      border-bottom 1px solid $orange

    &:hover
      color $orange
      border-bottom 1px solid $orange

  &__search-city
    position relative
    margin-bottom 20px

  &__search-city-input-text
    height 40px
    width 100%
    -webkit-appearance none
    border 1px solid $border-color
    border-radius 3px
    font-size 16px
    padding 0 10px

  &__search-city-input-submit
    height 17px
    width 17px
    background-image url(../../app/images/search-orange.svg)
    background-position center
    background-repeat no-repeat
    background-size cover
    vertical-align middle
    cursor pointer
    position absolute
    right 15px
    top 0
    bottom 0
    margin auto
    border 0
    background-color transparent

.fancybox-overlay
  background rgba(255, 255, 255, .5)
  z-index 800 !important

  +to-width(767px)
    display none !important

.fancybox-skin
  box-shadow 0 2px 5px rgba(0, 0, 0, .4) !important
  border-radius 0
  background white
  border 1px solid $text-color

.fancybox-inner
  display flex
  align-items center
  overflow hidden !important

  +to-width(767px)
    overflow auto !important

.fancybox-close
  height 22px
  width 22px
  background-image url(../../app/images/arrow-modal.svg)
  background-repeat no-repeat
  background-position center
  background-size cover
  top 19px
  right 20px
  transition all .2s ease-in

  &:hover
    transform rotate(90deg)
    transition all .2s ease-in

.modal__mobile
  display block !important

  /*.fancybox-wrap
    +to-width(767px)
      height 100% !important*/

.fancybox-opened
  z-index 803 !important

.fancybox-wrap
  z-index 802 !important

.fancybox-close, .fancybox-nav
  z-index: 804 !important