.nav-block
  background $grey-light
  margin-top 104px
  padding 18px 0 23px
  overflow hidden

  &--help-page
    padding 18px 0 0

  +to-width(959px)
    margin-top 45px

  &--white
    background white