.news-detail
  &__cont
    max-width 792px
    margin auto
    padding 0 20px

  &__pic
    height 433px
    width 100%
    background-position center
    background-repeat no-repeat
    background-size cover
    margin-bottom 26px

    +to-width(767px)
      height 200px

  &__item-description
    margin-top 71px

  .news__description
    margin-top 15px
    line-height 28px
    margin-bottom 24px

  &__title
    font-weight 300
    font-size 30px

    &--bold
      font-size 16px
      font-weight 700
      text-transform uppercase

      +to-width(767px)
        font-size 16px !important

    +to-width(767px)
      font-size 24px

  .tabs
    z-index 2
    position relative

  .tabs__item
    .tabs__link
      border-bottom 1px solid $orange !important

    &.active
      .tabs__link
        border-bottom 1px solid white !important

  .tabs__link
    +to-width(350px)
      font-size 12px !important

  .checkout__table-head
    font-size 14px !important
    color $text-color !important
    font-weight 700 !important
    text-transform uppercase

  .checkout__table-item
    border-bottom 0 !important
    height 43px
    font-weight 300

  .checkout__tab-content
    margin-bottom 26px !important
    padding 0 !important

  .tab-content
    border 1px solid $orange
    margin-left -1px
    margin-top -1px
    position relative
    z-index 1

  .checkout__table-cont
    +to-width(959px)
      overflow-x visible !important

    +to-width(751px)
      overflow-x scroll !important

  .checkout__table
    +to-width(959px)
      width 100% !important

    +to-width(751px)
      width 751px !important

  .table-border-element
    padding-top 15px

    &:after
      +to-width(959px)
        display none !important

      +to-width(751px)
        display block !important
        top 0 !important
        height 100% !important

  &__article-pic
    width 78px
    min-width 78px
    height 78px
    margin-right 24px

    +to-width(767px)
      margin-bottom 15px

  &__article-name
    font-size 16px
    font-weight 700
    text-transform uppercase
    margin-top 10px

  &__item-article
    display flex
    margin-top 59px

    +to-width(767px)
      display block

  &__article-desc
    font-size 12px
    font-weight 300
    color $grey-detail
    margin-top 10px
    max-width 300px
    line-height 20px

  &__article-text
    font-weight 300
    font-style italic
    margin-top 23px

    p
      line-height 28px
      margin-bottom 16px

  &__item-small
    margin-top 48px

  &__item-quote
    margin-top 52px

  &__quote-item
    border-top 1px solid $grey-dark-2
    border-bottom 1px solid $grey-dark-2
    line-height 32px

    .news-detail__cont
      font-size 24px
      font-weight 300
      font-style italic
      text-align center
      padding 29px 0
      position relative

      &:before
        content ''
        position absolute
        top -14px
        left 20px
        height 24px
        width 32px
        background-repeat no-repeat
        background-position center
        background-image url(../../app/images/q-top.svg)

        +to-width(767px)
          left 0
      
      &:after
        content ''
        position absolute
        bottom -14px
        right 20px
        height 24px
        width 32px
        background-repeat no-repeat
        background-position center
        background-image url(../../app/images/q-bottom.svg)

        +to-width(767px)
          right 0

  &__pic-center
    height 300px
    width 100%
    position relative
    margin-bottom 29px

  &__pic-center-title
    position absolute
    bottom 0
    background rgba(0, 0, 0, .4)
    font-size 12px
    color white
    font-weight 300
    width 100%
    padding 11px 14px

  &__item-pic-center
    margin-top 81px

  &__pic-column
    width 100%
    height 211px
    margin-top 15px

    +to-width(767px)
      margin-top 0

  &__pic-column-title
    font-size 12px
    color $grey-detail
    font-weight 300
    margin-top 12px
    line-height 20px

  &__item-pic-column
    margin-top 76px

  &__pic-gallery
    height 128px
    margin-bottom 24px

  &__cont-pic-gallery
    margin-top 24px

  &__item-pic-gallery
    margin-top 55px
    margin-bottom 37px

  &--pad
    padding-bottom 85px