.news
  padding 30px 0

  .cont
    column-count 3
    column-gap 24px

    +to-width(959px)
      column-count 2

    +to-width(767px)
      column-count 1
      column-gap 0

  &__item
    padding-bottom 24px
    display inline-block
    width 100%

  &__pic
    height 282px
    background-size cover
    background-position center
    background-repeat no-repeat
    margin-bottom 14px

    +to-width(767px)
      height 200px

  &__item-cont
    border 1px solid $border-color
    padding 20px 19px
    display block
    text-decoration none
    transition all .2s ease-in
    transform translateY(0)

    &:hover
      text-decoration none
      transition all .2s ease-in
      border 1px solid $orange
      box-shadow 0 3px 7px rgba(0, 0, 0, .3)

  &__link
    font-weight 300
    color $orange
    font-size 30px
    text-decoration none
    display block
    line-height 36px
    margin-bottom 8px

    +to-width(767px)
      font-size 24px

  &__description
    font-weight 300
    color $text-color
    line-height 26px

  &__date
    font-size 12px
    color $grey-detail
    margin-top 11px

  &__loader-cont
    text-align center
    margin-top 14px
    margin-bottom 78px

  &__loader-btn
    display inline-block
    color $text-color
    text-decoration none
    font-size 30px
    font-weight 300
    position relative

    +to-width(417px)
      &:before
        margin-bottom 15px !important

    &:hover
      &:before
        transition all .4s ease-in
        transform rotate(360deg)

    span
      display inline-block
      vertical-align middle

    &:before
      content ''
      top 0
      left 0
      bottom 0
      margin auto
      background $orange
      height 58px
      width 58px
      border-radius 100%
      display inline-block
      vertical-align middle
      margin-right 10px
      background-repeat no-repeat
      background-position center
      background-image url(../../app/images/news-arrow.png)
      background-size 40px
      transition all .4s ease-in

    +to-width(767px)
      font-size 24px