.pagination
  display flex
  justify-content space-between
  margin-right 1px

  &__item
    display inline-block
    position relative
    z-index 1

    &.active
      z-index 3

    &:hover
      z-index 2

  &__link
    text-decoration none
    display inline-block
    height 40px
    width 40px
    background-position center
    background-repeat no-repeat
    vertical-align middle
    color $text-color
    text-align center
    line-height 41px
    position relative
    background white

    &:before
      content ''
      position absolute
      left 0
      top 0
      width 39px
      height 38px
      border 1px solid $border-color

    &:hover
      &:before
        content ''
        position absolute
        left 0
        top 0
        width 39px
        height 38px
        border 1px solid $orange

    &.active
      background $orange
      color white

      &:before
        border 1px solid $orange