.partner-slider
  position absolute
  margin 0 !important
  bottom 0
  left 0
  width 100%
  z-index 2
  background alpha(white, .95)
  height 118px

  &__item
    height 118px
    display flex
    justify-content center
    align-items center

  &__img
    width auto !important
    //margin auto

  &__title
    font-size 14px
    text-transform uppercase
    font-weight 700
    margin-bottom 6px

  &__description
    font-size 13px
    color $grey-light-3

  &__pic
    margin-bottom 5px

  .owl-next
    position absolute
    right 0
    width 28px
    height 92px
    margin auto
    top 0
    bottom 0
    background-image url(../../app/images/arrow-slider.svg)
    background-repeat no-repeat
    background-position center
    background-size cover
    overflow hidden
    text-indent -999px
    transition all .2s ease-in

    &:hover
      opacity .5
      transition all .2s ease-in

  .owl-prev
    position absolute
    left 0
    width 28px
    height 92px
    margin auto
    top 0
    bottom 0
    background-image url(../../app/images/arrow-slider.svg)
    transform rotate(180deg)
    background-repeat no-repeat
    background-position center
    background-size cover
    overflow hidden
    text-indent -999px
    transition all .2s ease-in

    &:hover
      opacity .5
      transition all .2s ease-in