.personal
  padding 116px 0

  .filter__item
    margin-bottom 19px !important

  .filter__title
    &:hover
      border-bottom 1px solid $border-color !important

    &.active
      border-bottom 1px solid $border-color !important

  .checkout__bottom-block
    margin-top 22px

  +to-width(767px)
    .checkout__all-result-item
      flex-direction column !important
      align-items flex-end !important

    .checkout__all-result-title
      margin-right 0 !important
      width auto !important
      margin-bottom 5px

  &--contacts
    .form-info
      margin-bottom 49px

      +to-width(767px)
        margin-bottom 4px

      &:last-child
        margin-bottom 0

  .form-info
    padding-top 0
    padding-bottom 4px

  .form-info__title
    width 231px

  .form-info__input
    padding-right 57px

    +to-width(1050px)
      padding-right 30px

    +to-width(959px)
      padding-right 0 !important

  &.pages
    padding 20px 0

    .personal__item
      margin-bottom 27px
      padding-left 20px

      +to-width(959px)
        padding-left 0 !important

      &:first-child
        margin-top 6px

    +to-width(767px)
      padding 0

  +to-width(767px)
    padding 0 0 20px

  &__items
    display flex
    justify-content space-between

    +to-width(1000px)
      flex-direction column
      justify-content flex-start

  &__list-link
    color $orange
    text-decoration none
    margin-bottom 22px
    display inline-block
    border-bottom 1px solid transparent
    white-space nowrap

    &.active
      border-bottom 1px solid $orange

    &:hover
      border-bottom 1px solid $orange

  &__item
    +to-width(1000px)
      margin-bottom 20px

      &:last-child
        margin-bottom 0

  &__item-title
    font-weight 300
    font-size 30px
    margin-bottom 30px
    position relative

    +to-width(767px)
      font-size 24px
      margin-bottom 19px
      width 231px

    &--info
      padding-left 51px

      +to-width(767px)
        padding-left 47px

        &:before
          width 32px!important
          height 37px!important
          bottom auto!important

      &:before
        content ''
        width 35px
        height 40px
        background-image url(../../app/images/checkout-info.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

    &--order
      padding-left 51px

      +to-width(767px)
        padding-left 47px

        &:before
          width 30px!important
          height 37px!important
          bottom auto!important

      &:before
        content ''
        width 33px
        height 41px
        background-image url(../../app/images/checkout-order.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

    &--extra
      padding-left 55px

      +to-width(767px)
        padding-left 52px

        &:before
          width 37px!important
          height 37px!important

      &:before
        content ''
        width 39px
        height 39px
        background-image url(../../app/images/checkout-extra.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 0
        top 0
        bottom 0
        margin auto

   &__order-items
     margin-bottom 41px

   &__order-item
     display flex
     justify-content flex-start
     margin-bottom 22px

     +to-width(767px)
      flex-direction column

   &__order-item-left
     font-size 12px
     color $grey-detail
     width 103px
     margin-right 19px

     +to-width(767px)
       margin-bottom 5px
       width auto

  &__order-item-right
    font-weight 300

  &__contacts-item
    display flex
    justify-content flex-start
    margin-bottom 18px
    line-height 20px

    +to-width(767px)
      display block

    &--one
      line-height 28px

  &__contacts-item-left
    min-width 172px

  &__title
    font-size 30px
    margin-top 58px
    margin-bottom 18px

    +to-width(767px)
      font-size 24px
      margin-top 25px

  &__contacts-items
    padding-right 49px