.search
  height 17px
  width 17px
  background-image url(../../app/images/search.svg)
  background-position center
  background-repeat no-repeat
  background-size cover
  display inline-block
  vertical-align middle
  cursor pointer