.select-city
  height 16px

  &__link
    text-decoration none
    color $text-color
    border-bottom 1px dashed
    font-size 12px
    display inline-block
    position relative
    margin-left 23px

    &:hover
      border-bottom 1px transparent

    &:before
      content ''
      width 14px
      height 20px
      position absolute
      left -23px
      top 0
      bottom 0
      margin auto
      background-image url(../../app/images/geo-grey.svg)
      background-position center
      background-repeat no-repeat
      background-size cover

    &--mobile
      font-size 16px
      color white
      border-bottom none
      font-weight 300

      &:before
        background-image url(../../app/images/geo-white.svg)

      &:hover
        text-decoration underline