.shine-select
  margin-bottom 46px

  +to-width(767px)
    margin-bottom 30px

  &__title
    font-size 12px
    color $grey-detail
    margin-bottom 16px

    &--bold
      font-size 14px
      font-weight 700
      text-transform uppercase
      color $text-color

  &__item
    text-decoration none
    color $text-color
    font-weight 300
    display inline-block
    margin-right 24px

    &.active
      color $orange

      .shine-select__color
        border 1px solid $orange

    &:hover
      color $orange

      .shine-select__color
        border 1px solid $orange

  &__color
    height 36px
    width 50px
    border 1px solid $border-color
    margin 0 auto 9px

    &--daylight
      background $blue-light

    &--warm-light
      background $yellow-light