.slider-good-block
  background $grey-light
  padding 53px 0

  &--bottom-margin
    margin-bottom 4px

  &--white
    background white
    padding 42px 0 53px

  &--good
    padding 0 !important

  +to-width(767px)
    padding 29px 0

  &__title
    font-weight 300
    font-size 30px
    margin-bottom 35px
    position relative
    padding-left 61px

    &--refer
      &:before
        background-image url(../../app/images/refer.svg) !important

    &--zoom
      padding-left 51px

      +to-width(767px)
        &:before
          background-size auto !important
          width 31px !important
          height 33px !important

      &:before
        width 34px !important
        height 36px !important
        background-image url(../../app/images/zoom.svg) !important

    &.no-icon
      padding-left 0 !important

      &:before
        display none

    +to-width(767px)
      font-size 24px
      margin-bottom 19px
      padding-left 49px
      width 200px

      &:before
        width 37px !important
        height 33px !important
        bottom auto !important

    &:before
      content ''
      width 48px
      height 42px
      background-image url(../../app/images/recomendation.svg)
      background-position center
      background-repeat no-repeat
      background-size cover
      position absolute
      left 0
      top 0
      bottom 0
      margin auto

  .owl-nav
    position absolute
    right 0
    top -70px
    height 40px
    background white

    +to-width(767px)
      top -62px !important

  .owl-next
    width 40px
    height 40px
    overflow hidden
    text-indent -999px
    transition all .2s ease-in
    display inline-block
    border 1px solid $border-color
    margin-left -1px
    z-index 1
    position relative

    &:after
      content '\e804'
      width 8px
      height 13px
      position absolute
      right 0
      left 0
      top 0
      bottom 0
      margin auto
      font-family "icons-custom"
      font-size 13px
      transition all .2s ease-in
      text-indent 0

    &:hover
      border 1px solid $orange
      transition all .2s ease-in
      z-index 2

      &:after
        color $orange

  .owl-prev
    width 40px
    height 40px
    overflow hidden
    text-indent -999px
    transition all .2s ease-in
    display inline-block
    border 1px solid $border-color
    z-index 1
    position relative


    &:after
      content '\e801'
      width 8px
      height 13px
      position absolute
      right 0
      left 0
      top 0
      bottom 0
      margin auto
      font-family "icons-custom"
      font-size 13px
      transition all .2s ease-in
      text-indent 0

    &:hover
      z-index 2
      border 1px solid $orange
      transition all .2s ease-in

      &:after
        color $orange