.small-cart
  &__link
    font-weight 700
    color white
    text-decoration none
    font-size 12px
    position relative
    padding-left 27px

    +to-width(1030px)
      font-size 10px

    +to-width(959px)
      font-size 12px

    &:hover
      text-decoration underline

    &:before
      content ''
      width 19px
      height 18px
      background-image url(../../app/images/cart.svg)
      background-position center
      background-repeat no-repeat
      background-size cover
      top 0
      bottom 0
      margin auto
      position absolute
      left 0