.socials
  &__title
    display inline-block
    vertical-align middle
    margin-right 10px

  &__list
    display inline-block
    vertical-align middle

  &__list-item
    display inline-block
    margin-right 13px
    vertical-align middle

  &__link
    height 24px
    width 24px
    border-radius 100%
    background $grey-light-2
    display block
    position relative
    text-align center
    transition all .2s ease-in
    transform translateY(0px)

    &:hover
      transition all .2s ease-in
      transform translateY(-2px)
      box-shadow 0 3px 5px rgba(0, 0, 0, .1)
      background $orange

      .fa
        color white

    .fa
      font-size 14px
      font-weight 700
      color $grey-text
      display inline-block
      line-height 25px
