.sort
  +to-width(959px)
    margin-bottom 15px

  +to-width(767px)
    margin-bottom 27px

  &__text
    display inline-block
    vertical-align middle
    font-weight 300
    margin-right 5px

    +to-width(1000px)
      font-size 14px

    +to-width(959px)
      font-size 16px

  &__select
    display inline-block
    vertical-align middle

    .select2-container
      width 56px !important

    .select2-container .select2-selection--single
      height 40px !important
      border 1px solid $border-color

    .select2-container--default .select2-selection--single .select2-selection__rendered
      line-height 39px !important

    .select2-container--default .select2-selection--single .select2-selection__arrow b
      height 5px
      width 8px
      background-image url(../../app/images/arrow-sort-select.svg)
      right 8px