.spoiler
  position fixed
  top 45%
  right 0
  z-index 10

  +to-width(767px)
    display none

  &__cont
    text-align right

  &__item
    border 1px solid $orange
    border-right 0
    text-align right
    margin-top -1px
    display inline-block
    color $text-color
    text-decoration none
    background white
    position relative
    transition all .2s ease-in

    &:hover
      //transform translateX(0)
      margin-right 0
      transition all .2s ease-in

    &--calculator
      padding 29px 29px 29px 82px
      //transform translateX(208px)
      margin-right -208px

      &:before
        content ''
        width 38px
        height 40px
        background-image url(../../app/images/spoiler-1.svg)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 21px
        top 13px
        margin auto

    &--constructor
      padding 29px 29px 29px 81px
      //transform translateX(170px)
      margin-right -170px

      &:before
        content ''
        width 27px
        height 47px
        background-image url(../../app/images/spoiler-2.png)
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        left 26px
        top 12px
        margin auto
