.subscribe
  &__title
    display inline-block
    vertical-align middle
    margin-right 20px

    +to-width(767px)
      display block
      font-size 12px
      margin-bottom 15px

  &__input-block
    display inline-block
    vertical-align middle
    position relative
    border-radius 3px

  &__input-text
    -webkit-appearance none
    border 0
    width 221px
    background white
    border-radius 3px
    display inline-block
    vertical-align middle
    position relative
    padding 8px 10px
    font-size 13px
    transition all .3s ease-in

    +to-width(1030px)
      width 140px
      transition all .3s ease-in

    +to-width(767px)
      width 221px

  &__input-submit
    position absolute
    height 100%
    -webkit-appearance none
    top 0
    right 0
    width 43px
    border 0
    box-shadow none
    background url(../../app/images/arrow-right.svg), white
    background-size 19px
    background-repeat no-repeat
    background-position center
    transition all .2s ease-in

    /*&:hover
      box-shadow 0 3px 5px rgba(0,0,0,.1)
      transition all .2s ease-in*/
