.table-description
  font-weight 300
  margin-top 20px

  +to-width(767px)
    margin-bottom 43px

  .btn--open
    margin-top 15px

    +to-width(767px)
      width 183px
      line-height 20px
      padding 10px 22px 7px 22px
      text-align center

      &:before
        top 18px
        bottom auto

  &__left
    width 286px

    +to-width(767px)
      width 100%
      display block !important

  &__right
    text-align right

    +to-width(767px)
      display block !important
      margin-top 5px
      text-align left

  &__item
    padding 11px 19px

    +to-width(767px)
      display block !important
      padding 11px 0
      border-bottom 1px solid $grey-dark

      &:last-child
        border-bottom none

    &--grey
      background $grey-dark

      +to-width(767px)
        background transparent !important

  &__hide
    height 0
    overflow hidden
    transition all .2s ease-in
    opacity 0

    .table-description__item
      &:first-child
        border-top 1px solid $grey-dark

    &.open
      height 100%
      transition all .2s ease-in
      opacity 1