.tabs
  border 0 !important

  &--static-page
    +to-width(767px)
      .tabs__item
        width 100%
        margin-left 0 !important

      .tabs__link
        text-align center
        margin-bottom -1px !important

    .tabs__link
      background transparent !important
      border 1px solid transparent !important
      color $orange !important

  &__item
    margin-left -1px
    margin-bottom 0 !important
    z-index 1

    &:hover
      z-index 2

      .tabs__link
        border 1px solid $orange !important
        color $orange !important

    &.active
      z-index 2

      .tabs__link
        border 1px solid $orange !important
        color $orange !important

  &__link
    font-weight 300
    color $text-color !important
    text-decoration none
    border 1px solid $border-color !important
    border-radius 0 !important
    background white !important
    padding 8px 23px !important
    margin 0 !important

    +to-width(767px)
      font-size 14px !important
      padding 8px 7px !important
