.telephone
  display inline-block
  margin-left 52px

  &--mobile
    position absolute
    right 20px
    top 17px

    .telephone__link
      color white

      &:before
        background-image url(../../app/images/phone-white.svg)

  &__link
    color $text-color
    font-size 16px
    display inline-block
    text-decoration none
    position relative

    &:before
      content ''
      width 13px
      height 13px
      position absolute
      left -17px
      top 0
      bottom 0
      background-image url(../../app/images/phone.svg)
      background-position center
      background-repeat no-repeat
      background-size cover