.text-block
  background $orange-3
  color white
  padding 49px 0 34px

  +to-width(767px)
    padding 26px 0 11px

  &__title-block
    margin-bottom 19px
    position relative

    +to-width(767px)
      margin-bottom 13px

      &:after
        display none

    &:after
      content ''
      height 1px
      width 100%
      background white
      position absolute
      left 0
      right 0
      bottom 0
      top 0
      margin auto
      z-index 1

  &__title
    font-size 30px
    font-weight 300
    display inline-block
    background $orange-3
    position relative
    z-index 2
    padding-right 15px

    +to-width(767px)
      font-size 20px

  &__text-item
    font-size 13px
    padding-right 70px

    span
      font-weight 700

    p
      line-height 18px
      margin-bottom 15px