.thanks
  padding 48px 0 107px

  +to-width(767px)
    padding 30px 0 30px

  .cont
    display flex
    justify-content space-between
    align-items flex-end

  &__title
    font-size 30px
    font-weight 300
    margin-bottom 36px

    +to-width(767px)
      margin-bottom 20px
      font-size 24px

  &__info
    font-weight 700
    text-transform uppercase
    margin-bottom 11px

    +to-width(767px)
      line-height 20px

  &__description
    font-weight 300
    line-height 27px
    margin-bottom 25px

  .btn-light
    font-size 16px
    padding 11px 22px

  &__picture
    width 247px
    border-bottom 1px solid $border-color

    img
      display block
      margin auto

  &__right
    margin-right 96px