.view-btn

  +to-width(959px)
    margin-bottom 15px

  &__item
    display inline-block
    vertical-align middle

  &__link
    text-decoration none
    display inline-block
    height 40px
    width 41px
    border 1px solid $border-color
    background-position center
    background-repeat no-repeat
    vertical-align middle

    &.active
      background-color $orange
      border 1px solid $orange

    &:hover
      border 1px solid $orange

    &--vertical
      border-right 0 !important
      background-image url(../../app/images/view-vertical.svg)
      margin-right -5px

      &.active
        background-image url(../../app/images/view-vertical-active.svg)

    &--horizontal
      border-left 0 !important
      background-image url(../../app/images/view-gorizontal.svg)

      &.active
        background-image url(../../app/images/view-gorizontal-active.svg)