body
  font-family 'Roboto', sans-serif
  overflow-x hidden
  color $text-color

  &.body-overflow
    overflow hidden !important

.cont
  max-width 1360px
  margin auto
  padding 0 20px
  min-width 320px

.row
  margin-left -12px
  margin-right -12px

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12
  padding-left 12px
  padding-right 12px

.zoomContainer
  z-index 699

.table-border-element
  position relative

  +to-width(959px)
    &:after
      content ''
      height 329px
      position absolute
      width 3px
      right 0
      top 20px
      background rgba(0, 0, 0, .1)

#top
  position fixed
  right 20px
  bottom 71px
  z-index 50
  cursor pointer
  display none
  font-weight 300
  border 1px solid rgba(51, 51, 51, .2)
  color rgba(51, 51, 51, .4)
  padding 20px 21px 12px
  background white

  +to-width(767px)
    height 50px
    width 50px
    border 0
    right 20px
    bottom 16px
    overflow hidden
    text-indent -999px
    box-shadow 0 3px 4px rgba(0, 0, 0, .21)

  &:hover
    border 1px solid $orange
    color $orange

    +to-width(767px)
      border 0

    &:after
      color $orange

  &:after
    content '\e802'
    height 6px
    position absolute
    width 10px
    right 0
    left 0
    margin auto
    top 9px
    color rgba(51, 51, 51, .3)
    font-family "icons-custom"
    font-size 6px
    transform rotate(180deg)

    +to-width(767px)
      height 16px
      width 27px
      font-size 17px
      color $border-color
      text-indent 0
      top 0
      bottom 0