.btn
  display inline-block
  color $text-color
  text-transform uppercase
  font-size 16px
  border 1px solid $text-color
  padding 11px 35px
  font-weight 700
  text-decoration none
  transition all .2s ease-in
  background transparent
  transform translateY(0)

  +to-width(767px)
    padding 11px 21px
    font-size 14px

  &:hover
    //box-shadow 0 3px 5px rgba(0,0,0,.1)
    transition all .2s ease-in

  &:active
    transform translateY(2px)

  &--bold
    &:hover
      background $orange
      color white
      border 1px solid $orange

  &--small-padding
    padding 11px 26px

  &--set
    font-size 16px
    font-weight 300
    padding 11px 21px
    text-transform none
    border 1px solid $border-color
    display inline-block
    vertical-align middle

  &--del
    border 1px solid $border-color
    height 40px
    width 40px
    padding 0
    position relative
    display inline-block
    vertical-align middle
    margin-left 13px

    &:after
      content ''
      position absolute
      top 0
      right 0
      left 0
      bottom 0
      margin auto
      height 12px
      width 12px
      background-image url(../../app/images/arrow-del.svg)
      background-size cover
      background-position center
      background-repeat no-repeat
      transition all .2s ease-in

    &:hover
      &:after
        transition all .2s ease-in
        transform rotate(90deg)

  &--light
    font-size 14px
    font-weight 400
    text-transform none
    border 1px solid $border-color

    &:hover
      box-shadow 0 0 8px rgba(0, 0, 0, .35)

    &:active
      box-shadow 0 0 8px rgba(0, 0, 0, .22)

  &--arrow
    padding 12px 49px 12px 22px
    position relative
    border 1px solid $border-color

    &:after
      content ''
      position absolute
      top 0
      right 15px
      bottom 0
      margin auto
      height 11px
      width 21px
      background-image url(../../app/images/arrow-right.svg)
      background-size cover
      background-position center
      background-repeat no-repeat
      transition all .2s ease-in

  &--back
    background white
    padding 12px 32px 11px 52px
    position relative
    border 1px solid $border-color
    font-size 15px
    font-weight 300

    +to-width(800px)
      padding 12px 15px 11px 40px

      &:before
        left 15px !important

    &:before
      content ''
      position absolute
      top 0
      left 26px
      bottom 0
      margin auto
      height 9px
      width 17px
      background-image url(../../app/images/arrow-back.svg)
      background-size cover
      background-position center
      background-repeat no-repeat
      transition all .2s ease-in

    /*&:hover
      &:after
        transform rotate(90deg)
        transition all .2s ease-in*/

  &--white
    color white
    border 1px solid white

    &:hover
      background transparent
      color white
      border 1px solid white
      box-shadow 0 0 8px rgba(0, 0, 0, .35)

    &:active
      background transparent
      color white
      border 1px solid white
      transform translateY(0) !important
      box-shadow 0 0 8px rgba(0, 0, 0, .22)

  &--open
    font-size 15px
    padding 12px 22px 12px 43px
    position relative

    &.active
      &:before
        transform rotate(180deg)

    &:before
      content ''
      position absolute
      top 0
      left 22px
      bottom 0
      margin auto
      height 6px
      width 10px
      background-image url(../../app/images/arrow-button-open.svg)
      background-size cover
      background-position center
      background-repeat no-repeat

  &--orange
    font-size 16px
    border 1px solid $orange
    background $orange
    padding 12px 20px 10px
    color white
    margin-left 27px

    &:hover
      background $orange-dark

  &--add
    border 1px solid #c4c5c7 !important
    background #c4c5c7 !important

    &:hover
      background #c4c5c7 !important

  &--cart
    font-size 14px
    border 1px solid $orange
    background $orange
    padding 16px 14px 15px 41px
    color white
    position relative
    white-space nowrap

    +to-width(1199px)
      font-size 1.1vw
      padding 16px 1.3vw 15px 41px

    +to-width(959px)
      font-size 14px

    +to-width(767px)
      padding 16px 14px 15px 41px

    &:hover
      background $orange-dark

    &:before
      content ''
      position absolute
      top 0
      left 12px
      bottom 0
      margin auto
      width 19px
      height 18px
      background-image url(../../app/images/cart.svg)
      background-size cover
      background-position center
      background-repeat no-repeat