lesscss-percentage(n)
  (n * 100)%
//
// Mixins
// --------------------------------------------------
// Utilities
// -------------------------
// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
clearfix()
  &:before, &:after
    content " "
    // 1
    display table
    // 2

  &:after
    clear both

/////////////////////////////////////////////////////////////////////////////////
/// THIS PART HAS BEEN MANUALLY ADDED AFTER STYLUS CONVERSION ///////////////////
.clearfix
  clearfix()
/////////////////////////////////////////////////////////////////////////////////  


// WebKit-style focus
tab-focus()
  // Default
  outline thin dotted
  // WebKit
  outline 5px auto -webkit-focus-ring-color
  outline-offset -2px

// Center-align a block level element
center-block()
  display block
  margin-left auto
  margin-right auto

pull-right()
  float right !important

pull-left()
  float left !important

// Sizing shortcuts
size(width, height)
  width width
  height height

square(size)
  size(size, size)
  

// Placeholder text
placeholder(color=input-color-placeholder)
  &::-moz-placeholder
    color color
    // Firefox
    opacity 1

  // See https://github.com/twbs/bootstrap/pull/11526
  &:-ms-input-placeholder
    color color

  // Internet Explorer 10+
  &::-webkit-input-placeholder
    color color

  // Safari and Chrome

// Text overflow
// Requires inline-block or block for proper styling
text-overflow()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

// CSS image replacement
//
// Heads up! v3 launched with with only `.hide-text()`, but per our pattern for
// mixins being reused as classes with the same name, this doesn't hold up. As
// of v3.0.1 we have added `.text-hide()` and deprecated `.hide-text()`. Note
// that we cannot chain the mixins together in Less, so they are repeated.
//
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
// Deprecated as of v3.0.1 (will be removed in v4)
hide-text()
  font unquote("0/0") a
  color transparent
  text-shadow none
  background-color transparent
  border 0

// New mixin to use as of v3.0.1
text-hide()
  hide-text()
  

// CSS3 PROPERTIES
// --------------------------------------------------
// Single side border-radius
border-top-radius(radius)
  border-top-right-radius radius
  border-top-left-radius radius

border-right-radius(radius)
  border-bottom-right-radius radius
  border-top-right-radius radius

border-bottom-radius(radius)
  border-bottom-right-radius radius
  border-bottom-left-radius radius

border-left-radius(radius)
  border-bottom-left-radius radius
  border-top-left-radius radius

// Drop shadows
//
// Note: Deprecated `.box-shadow()` as of v3.1.0 since all of Bootstrap's
//   supported browsers that have box shadow capabilities now support the
//   standard `box-shadow` property.



// Transformations
mixin-rotate(degrees)
  -webkit-transform rotate(degrees)
  -ms-transform rotate(degrees)
  // IE9 only
  transform rotate(degrees)

mixin-scale(ratio, ratio-y)
  -webkit-transform scale(ratio, ratio-y)
  -ms-transform scale(ratio, ratio-y)
  // IE9 only
  transform scale(ratio, ratio-y)

mixin-translate(x, y)
  -webkit-transform translate(x, y)
  -ms-transform translate(x, y)
  // IE9 only
  transform translate(x, y)

mixin-skew(x, y)
  -webkit-transform skew(x, y)
  -ms-transform skewX(x) skewY(y)
  // See https://github.com/twbs/bootstrap/issues/4885; IE9+
  transform skew(x, y)

mixin-translate3d(x, y, z)
  -webkit-transform translate3d(x, y, z)
  transform translate3d(x, y, z)


// Animations
animation(animation)
  -webkit-animation animation
  animation animation

animation-name(name)
  -webkit-animation-name name
  animation-name name

animation-duration(duration)
  -webkit-animation-duration duration
  animation-duration duration

animation-timing-function(timing-function)
  -webkit-animation-timing-function timing-function
  animation-timing-function timing-function

animation-delay(delay)
  -webkit-animation-delay delay
  animation-delay delay

animation-iteration-count(iteration-count)
  -webkit-animation-iteration-count iteration-count
  animation-iteration-count iteration-count

animation-direction(direction)
  -webkit-animation-direction direction
  animation-direction direction

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`
backface-visibility(visibility)
  -webkit-backface-visibility visibility
  -moz-backface-visibility visibility
  backface-visibility visibility

// Box sizing
box-sizing(boxmodel)
  -webkit-box-sizing boxmodel
  -moz-box-sizing boxmodel
  box-sizing boxmodel

// User select
// For selecting text on the page
user-select(select)
  -webkit-user-select select
  -moz-user-select select
  -ms-user-select select
  // IE10+
  user-select select

// Resize anything
resizable(direction)
  resize direction
  // Options: horizontal, vertical, both
  overflow auto
  // Safari fix

// CSS3 Content Columns
content-columns(column-count, column-gap=grid-gutter-width)
  -webkit-column-count column-count
  -moz-column-count column-count
  column-count column-count
  -webkit-column-gap column-gap
  -moz-column-gap column-gap
  column-gap column-gap

// Optional hyphenation
hyphens(mode=auto)
  word-wrap break-word
  -webkit-hyphens mode
  -moz-hyphens mode
  -ms-hyphens mode
  // IE10+
  -o-hyphens mode
  hyphens mode

// Opacity
opacity(opacity)
  opacity opacity
  // IE8 filter
  opacity-ie = (opacity * 100)
  filter unquote("alpha(opacity=" + opacity-ie + ")")

// GRADIENTS
// --------------------------------------------------
// Horizontal gradient, from left to right
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
gradient-horizontal(start-color=rgb(85, 85, 85, 1), end-color=rgb(51, 51, 51, 1), start-percent=0%, end-percent=100%)
  background-image -webkit-linear-gradient(left, color-stop(start-color start-percent), color-stop(end-color end-percent))
  // Safari 5.1-6, Chrome 10+
  background-image linear-gradient(to right, start-color start-percent, end-color end-percent)
  // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat repeat-x
  filter s("progid:DXImageTransform.Microsoft.gradient(startColorstr='%s', endColorstr='%s', GradientType=1)", argb(start-color), argb(end-color))
  // IE9 and down

// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
gradient-vertical(start-color=rgb(85, 85, 85, 1), end-color=rgb(51, 51, 51, 1), start-percent=0%, end-percent=100%)
  background-image -webkit-linear-gradient(top, start-color start-percent, end-color end-percent)
  // Safari 5.1-6, Chrome 10+
  background-image linear-gradient(to bottom, start-color start-percent, end-color end-percent)
  // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat repeat-x
  filter s("progid:DXImageTransform.Microsoft.gradient(startColorstr='%s', endColorstr='%s', GradientType=0)", argb(start-color), argb(end-color))
  // IE9 and down

gradient-directional(start-color=rgb(85, 85, 85, 1), end-color=rgb(51, 51, 51, 1), deg=45deg)
  background-repeat repeat-x
  background-image -webkit-linear-gradient(deg, start-color, end-color)
  // Safari 5.1-6, Chrome 10+
  background-image linear-gradient(deg, start-color, end-color)
  // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+

gradient-horizontal-three-colors(start-color=rgb(0, 179, 238, 1), mid-color=rgb(122, 67, 182, 1), color-stop=50%, end-color=rgb(195, 50, 95, 1))
  background-image -webkit-linear-gradient(left, start-color, mid-color color-stop, end-color)
  background-image linear-gradient(to right, start-color, mid-color color-stop, end-color)
  background-repeat no-repeat
  filter s("progid:DXImageTransform.Microsoft.gradient(startColorstr='%s', endColorstr='%s', GradientType=1)", argb(start-color), argb(end-color))
  // IE9 and down, gets no color-stop at all for proper fallback

gradient-vertical-three-colors(start-color=rgb(0, 179, 238, 1), mid-color=rgb(122, 67, 182, 1), color-stop=50%, end-color=rgb(195, 50, 95, 1))
  background-image -webkit-linear-gradient(start-color, mid-color color-stop, end-color)
  background-image linear-gradient(start-color, mid-color color-stop, end-color)
  background-repeat no-repeat
  filter s("progid:DXImageTransform.Microsoft.gradient(startColorstr='%s', endColorstr='%s', GradientType=0)", argb(start-color), argb(end-color))
  // IE9 and down, gets no color-stop at all for proper fallback

gradient-radial(inner-color=rgb(85, 85, 85, 1), outer-color=rgb(51, 51, 51, 1))
  background-image -webkit-radial-gradient(circle, inner-color, outer-color)
  background-image radial-gradient(circle, inner-color, outer-color)
  background-repeat no-repeat

gradient-striped(color=rgba(255, 255, 255, 0.15), angle=45deg)
  background-image -webkit-linear-gradient(angle, color 25%, transparent 25%, transparent 50%, color 50%, color 75%, transparent 75%, transparent)
  background-image linear-gradient(angle, color 25%, transparent 25%, transparent 50%, color 50%, color 75%, transparent 75%, transparent)


// Reset filters for IE
//
// When you need to remove a gradient background, do not forget to use this to reset
// the IE filter for IE9 and below.
reset-filter()
  filter s("progid:DXImageTransform.Microsoft.gradient(enabled = false)")

// Retina images
//
// Short retina mixin for setting background-image and -size
img-retina(file-1x, file-2x, width-1x, height-1x)
  background-image "@{file-1x}"
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: (2 / 1)), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
    background-image "@{file-2x}"
    background-size width-1x height-1x

// Responsive image
//
// Keep images from scaling beyond the width of their parents.
img-responsive(display=block)
  display display
  max-width 100%
  // Part 1: Set a maximum relative to the parent
  height auto
  // Part 2: Scale the height according to the width, otherwise you get stretching

// COMPONENT MIXINS
// --------------------------------------------------
// Horizontal dividers
// -------------------------
// Dividers (basically an hr) within dropdowns and nav lists
nav-divider(color=rgb(229, 229, 229, 1))
  height 1px
  margin ((line-height-computed / 2) - 1) 0
  overflow hidden
  background-color color

// Panels
// -------------------------
panel-variant(border, heading-text-color, heading-bg-color, heading-border)
  border-color border
  & > .panel-heading
    color heading-text-color
    background-color heading-bg-color
    border-color heading-border
    + .panel-collapse .panel-body
      border-top-color border


  & > .panel-footer
    + .panel-collapse .panel-body
      border-bottom-color border



// Alerts
// -------------------------
alert-variant(background, border, text-color)
  background-color background
  border-color border
  color text-color
  hr
    border-top-color darken(border, 5%)

  .alert-link
    color darken(text-color, 10%)


/////////////////////////////////////////////////////////////////////////////////
/// THIS PART HAS BEEN MANUALLY MODIFIED AFTER STYLUS CONVERSION ////////////////
/// Changed 'state' in selector names to {state}

// Tables
// -------------------------
table-row-variant(state, background)
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  .table > thead > tr, .table > tbody > tr, .table > tfoot > tr
    > td.{state}, > th.{state}, &.{state} > td, &.{state} > th
      background-color background


  // Hover states for `.table-hover`
  // Note: this is not available for cells or rows within `thead` or `tfoot`.
  .table-hover > tbody > tr
    > td.{state}:hover, > th.{state}:hover, &.{state}:hover > td, &.{state}:hover > th
      background-color darken(background, 5%)



// List Groups
// -------------------------
list-group-item-variant(state, background, color)
  .list-group-item-{state}
    color color
    background-color background
    a&
      color color
      .list-group-item-heading
        color inherit

      &:hover, &:focus
        color color
        background-color darken(background, 5%)

      &.active, &.active:hover, &.active:focus
        color #fff
        background-color color
        border-color color

/////////////////////////////////////////////////////////////////////////////////


// Button variants
// -------------------------
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
button-variant(color, background, border)
  color color
  background-color background
  border-color border
  &:hover, &:focus, &:active, &.active, .open .dropdown-toggle&
    color color
    background-color darken(background, 8%)
    border-color darken(border, 12%)

  &:active, &.active, .open .dropdown-toggle&
    background-image none

  &.disabled, &[disabled], fieldset[disabled] &
    &, &:hover, &:focus, &:active, &.active
      background-color background
      border-color border


  .badge
    color background
    background-color color


// Button sizes
// -------------------------
button-size(padding-vertical, padding-horizontal, font-size, line-height, border-radius)
  padding padding-vertical padding-horizontal
  font-size font-size
  line-height line-height
  border-radius border-radius

// Pagination
// -------------------------
pagination-size(padding-vertical, padding-horizontal, font-size, border-radius)
  > li
    > a, > span
      padding padding-vertical padding-horizontal
      font-size font-size

    &:first-child
      > a, > span
        border-left-radius(border-radius)
        


    &:last-child
      > a, > span
        border-right-radius(border-radius)
        




// Labels
// -------------------------
label-variant(color)
  background-color color
  &[href]
    &:hover, &:focus
      background-color darken(color, 10%)



// Contextual backgrounds
// -------------------------
bg-variant(color)
  background-color color
  a&:hover
    background-color darken(color, 10%)


// Typography
// -------------------------
text-emphasis-variant(color)
  color color
  a&:hover
    color darken(color, 10%)


// Navbar vertical align
// -------------------------
// Vertically center elements in the navbar.
// Example: an element has a height of 30px, so write out `.navbar-vertical-align(30px);` to calculate the appropriate top margin.
navbar-vertical-align(element-height)
  margin-top ((navbar-height - element-height) / 2)
  margin-bottom ((navbar-height - element-height) / 2)

// Progress bars
// -------------------------
progress-bar-variant(color)
  background-color color
  .progress-striped &
    gradient-striped()
    


// Responsive utilities
// -------------------------
// More easily include all the states for responsive-utilities.less.
responsive-visibility()
  display block !important
  table&
    display table

  tr&
    display table-row !important

  th&, td&
    display table-cell !important


responsive-invisibility()
  display none !important

// Grid System
// -----------
// Centered container element
container-fixed()
  margin-right auto
  margin-left auto
  padding-left (grid-gutter-width / 2)
  padding-right (grid-gutter-width / 2)
  @extend .clearfix

// Creates a wrapper for a series of columns
make-row(gutter=grid-gutter-width)
  margin-left (gutter / -2)
  margin-right (gutter / -2)
  @extend .clearfix

// Generate the extra small columns
make-xs-column(columns, gutter=grid-gutter-width)
  position relative
  float left
  width lesscss-percentage((columns / grid-columns))
  min-height 1px
  padding-left (gutter / 2)
  padding-right (gutter / 2)

make-xs-column-offset(columns)
  var041faaaf99ce36b1e170f0ca = "(min-width: " + screen-xs-min + ")"
  @media var041faaaf99ce36b1e170f0ca
    margin-left lesscss-percentage((columns / grid-columns))

make-xs-column-push(columns)
  var10a6243d649042a24d832a1d = "(min-width: " + screen-xs-min + ")"
  @media var10a6243d649042a24d832a1d
    left lesscss-percentage((columns / grid-columns))

make-xs-column-pull(columns)
  vare9653c32be6a2a4e114ac8a4 = "(min-width: " + screen-xs-min + ")"
  @media vare9653c32be6a2a4e114ac8a4
    right lesscss-percentage((columns / grid-columns))

// Generate the small columns
make-sm-column(columns, gutter=grid-gutter-width)
  position relative
  min-height 1px
  padding-left (gutter / 2)
  padding-right (gutter / 2)
  var499e80e7c911b11c34542f1c = "(min-width: " + screen-sm-min + ")"
  @media var499e80e7c911b11c34542f1c
    float left
    width lesscss-percentage((columns / grid-columns))

make-sm-column-offset(columns)
  vara974d4dbc7d975341ff3e5bc = "(min-width: " + screen-sm-min + ")"
  @media vara974d4dbc7d975341ff3e5bc
    margin-left lesscss-percentage((columns / grid-columns))

make-sm-column-push(columns)
  var403995b5ddc2a59bd825b8ef = "(min-width: " + screen-sm-min + ")"
  @media var403995b5ddc2a59bd825b8ef
    left lesscss-percentage((columns / grid-columns))

make-sm-column-pull(columns)
  var31eafa7ac06f2de7db424384 = "(min-width: " + screen-sm-min + ")"
  @media var31eafa7ac06f2de7db424384
    right lesscss-percentage((columns / grid-columns))

// Generate the medium columns
make-md-column(columns, gutter=grid-gutter-width)
  position relative
  min-height 1px
  padding-left (gutter / 2)
  padding-right (gutter / 2)
  varee09183840d6a403f2cb45ba = "(min-width: " + screen-md-min + ")"
  @media varee09183840d6a403f2cb45ba
    float left
    width lesscss-percentage((columns / grid-columns))

make-md-column-offset(columns)
  var993c4e8266d8aecb6ae11a12 = "(min-width: " + screen-md-min + ")"
  @media var993c4e8266d8aecb6ae11a12
    margin-left lesscss-percentage((columns / grid-columns))

make-md-column-push(columns)
  var4521f8c7a38d4430c379028f = "(min-width: " + screen-md-min + ")"
  @media var4521f8c7a38d4430c379028f
    left lesscss-percentage((columns / grid-columns))

make-md-column-pull(columns)
  varc2bd2a9d0c8e482b75965b98 = "(min-width: " + screen-md-min + ")"
  @media varc2bd2a9d0c8e482b75965b98
    right lesscss-percentage((columns / grid-columns))

// Generate the large columns
make-lg-column(columns, gutter=grid-gutter-width)
  position relative
  min-height 1px
  padding-left (gutter / 2)
  padding-right (gutter / 2)
  varc7596cd8b7fbd382e5ebc35c = "(min-width: " + screen-lg-min + ")"
  @media varc7596cd8b7fbd382e5ebc35c
    float left
    width lesscss-percentage((columns / grid-columns))

make-lg-column-offset(columns)
  var68f131df75f73525d4ed5186 = "(min-width: " + screen-lg-min + ")"
  @media var68f131df75f73525d4ed5186
    margin-left lesscss-percentage((columns / grid-columns))

make-lg-column-push(columns)
  varb0e366253850b66e568ca4e4 = "(min-width: " + screen-lg-min + ")"
  @media varb0e366253850b66e568ca4e4
    left lesscss-percentage((columns / grid-columns))

make-lg-column-pull(columns)
  var22c18817295ffe305544251c = "(min-width: " + screen-lg-min + ")"
  @media var22c18817295ffe305544251c
    right lesscss-percentage((columns / grid-columns))

/////////////////////////////////////////////////////////////////////////////////
/// THIS PART HAS BEEN MANUALLY MODIFIED AFTER STYLUS CONVERSION ////////////////

// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `@grid-columns`.
make-grid-columns()
  // Common styles for all sizes of grid columns, widths 1-12
  // recursive method
  col(index, list)
    if index <= grid-columns
      // general
      item = unquote(".col-xs-" + index + ", .col-sm-" + index + ", .col-md-" + index + ", .col-lg-" + index + "")
      col((index + 1), unquote("" + list + ", " + item + ""))
    else
      // terminal
      {list}
        position relative
        // Prevent columns from collapsing when empty
        min-height 1px
        // Inner gutter via padding
        padding-left (grid-gutter-width / 2)
        padding-right (grid-gutter-width / 2)

  // initial method
  col_start(index)
    item = unquote(".col-xs-" + index + ", .col-sm-" + index + ", .col-md-" + index + ", .col-lg-" + index + "")
    col((index + 1), item)
  col_start(1)  // kickstart it

float-grid-columns(class)
  // recursive method
  col(index, list)
    if index <= grid-columns
      item = unquote(".col-" + class + "-" + index + "")
      col((index + 1), unquote("" + list + ", " + item + ""))
    else 
      {list}
        float left
  // initial
  col_start(index)
    item = unquote(".col-" + class + "-" + index + "")
    col((index + 1), item)
  col_start(1)  // kickstart it


calc-grid-column(index, class, type)
  if index > 0 and type == width
    item = unquote(".col-" + class + "-" + index + "")
    {item}
      width lesscss-percentage((index / grid-columns))
  else if type == push
    item = unquote(".col-" + class + "-push-" + index + "")
    {item}
      left lesscss-percentage((index / grid-columns))
  else if type == pull
    item = unquote(".col-" + class + "-pull-" + index + "")
    {item}
      right lesscss-percentage((index / grid-columns))
  else if type == offset
    item = unquote(".col-" + class + "-offset-" + index + "")
    {item}
      margin-left lesscss-percentage((index / grid-columns))

// Looping
loop-grid-columns(index, class, type)
  if index >= 0
    calc-grid-column(index, class, type)
    // next iteration
    loop-grid-columns((index - 1), class, type)

// Create grid for specific class
make-grid(class)
  float-grid-columns(class)
  loop-grid-columns(grid-columns, class, width)
  loop-grid-columns(grid-columns, class, pull)
  loop-grid-columns(grid-columns, class, push)
  loop-grid-columns(grid-columns, class, offset)

//// MANUALLY MODIFIED CODE ENDS //////////////////////////////////////////////// 
/////////////////////////////////////////////////////////////////////////////////

// Form validation states
//
// Used in forms.less to generate the form validation CSS for warnings, errors,
// and successes.
form-control-validation(text-color=rgb(85, 85, 85, 1), border-color=rgb(204, 204, 204, 1), background-color=rgb(245, 245, 245, 1))
  // Color the label and help text
  .help-block, .control-label, .radio, .checkbox, .radio-inline, .checkbox-inline
    color text-color

  // Set the border and box shadow on specific inputs to match
  .form-control
    border-color border-color
    box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075))
    
    // Redeclare so transitions work
    &:focus
      border-color darken(border-color, 10%)
      shadow = inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px lighten(border-color, 20%)
      box-shadow(shadow)
      


  // Set validation states also for addons
  .input-group-addon
    color text-color
    border-color border-color
    background-color background-color

  // Optional feedback icon
  .form-control-feedback
    color text-color


// Form control focus state
//
// Generate a customized focus state and for any input with the specified color,
// which defaults to the `@input-focus-border` variable.
//
// We highly encourage you to not customize the default value, but instead use
// this to tweak colors on an as-needed basis. This aesthetic change is based on
// WebKit's default styles, but applicable to a wider range of browsers. Its
// usability and accessibility should be taken into account with any change.
//
// Example usage: change the default blue border and shadow to white for better
// contrast against a dark gray background.
form-control-focus(color=input-border-focus)
  color-rgba = rgba(red(color), green(color), blue(color), 0.6)
  &:focus
    border-color color
    outline 0
    box-shadow(unquote("inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px " + color-rgba + ""))
    


// Form control sizing
//
// Relative text size, padding, and border-radii changes for form controls. For
// horizontal sizing, wrap controls in the predefined grid classes. `<select>`
// element gets special love because it's special, and that's a fact!
input-size(input-height, padding-vertical, padding-horizontal, font-size, line-height, border-radius)
  height input-height
  padding padding-vertical padding-horizontal
  font-size font-size
  line-height line-height
  border-radius border-radius
  select&
    height input-height
    line-height input-height

  textarea&, select[multiple]&
    height auto


/////////////////////////////////////////////////////////////////////////////////
/// THIS PART HAS BEEN MANUALLY ADDED AFTER STYLUS CONVERSION ///////////////////
// Cross-browser alpha transparent background CSS (rgba) Stylus mixin
// Copied from https://github.com/LearnBoost/stylus/pull/714
hex(num)
    return base-convert(round(num), 16)

// convert to Microsofts filter format
argb(color)
    return s('#%s%s%s%s', hex(alpha(color) * 255), hex(red(color)), hex(green(color)), hex(blue(color)))
/////////////////////////////////////////////////////////////////////////////////
