//
// Helpers
// --------------------------------------------------

.h-bold
  font-weight bold

.h-regular
  font-weight normal

.h-align-justify
  text-align justify

.h-align-center
  text-align center

.h-align-left
  text-align left !important


.h-align-right
  text-align right !important

.h-float-left
  float left

.h-float-right
  float right

.h-letter-inline
  letter-spacing -3px

.h-uppercase
  text-transform uppercase

.h-normal-decoration
  text-decoration underline

  &:hover
    text-decoration none

.h-invert-decoration
  text-decoration none

  &:hover
    text-decoration underline

.h-no-wrap
  white-space nowrap

.h-col-4
  width 20% !important

.h-fourth
.h-col-4
  width 25% !important

.h-third
.h-col-3
  width 33% !important

.h-half
  width 50% !important

.h-full
  width 100% !important

.h-full-height
  height 100%

.h-image-full
  max-width 100%
  width 100%

.h-auto-width
  width auto !important

.h-auto-height
  height auto !important
  max-height inherit !important

.h-table-emulate
.h-emulate-table
  display table

.h-display-inline-block
  display inline-block !important

.h-emulate-row
.h-row-emulate
  display table-row !important

.h-cell-emulate
.h-emulate-cell
  display table-cell !important
  float none !important

.h-font-zero
  font-size 0

.h-slim-cell
  width 1%

.h-valign-middle
  vertical-align middle !important

.h-valign-top
  vertical-align top !important

.h-valign-bottom
  vertical-align bottom !important

.h-no-border-radius
  border-radius 0px


.h-margin-auto
  margin-left auto !important
  margin-right auto !important

.h-no-margin
  margin-top 0px !important
  margin-bottom 0px !important
  margin-left 0px !important
  margin-right 0px !important

.h-no-margin-bottom
  margin-bottom 0px !important

.h-no-margin-top
  margin-top 0px !important

.h-no-select
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none

.h-no-shadow
  box-shadow none !important

.h-no-border
  border none !important

.h-no-pad
  padding 0 !important

.h-full
  width 100%

.h-black
  color #000

.h-image
  img
    max-width 100%

//max-height  100%

.h-img-full
  width 100%
  img
    width 100%
    max-width 100%


.h-video {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.h-video iframe
  position absolute
  top 0
  left 0
  width 100%
  height 100%


.h-opacity-hidden
  opacity 0

.h-opacity-visible
  opacity 1

.h-clear
  clear both

.h-clear-after
  &:after
    content ""
    clear both
    display block

.h-relative
  position relative !important

.h-inherit
  position inherit !important

.h-fade
  display none

.h-hide
  display none

.h-hide-hard
  display none !important

.h-fade.h-in
  display block

.h-pointer
  cursor pointer !important

.h-bg-contain
  background-color none !important
  background-repeat no-repeat !important
  background-position 50% !important
  background-size contain !important

.h-bg-cover
  background-repeat no-repeat !important
  background-position 50% !important
  background-size cover !important

.h-no-bg
  background none !important

.h-two-column
  -moz-column-count 2
  -moz-column-gap 40px
  -webkit-column-count 2
  -webkit-column-gap 40px
  column-count 2
  column-gap 40px

.h-no-link
  color inherit !important
  text-decoration none !important

.h-line-height-normal
 line-height normal !important

.h-empty-hide
  &:empty
    display none !important

.h-flex-middle
  display flex
  align-items center

