@font-face {
  font-family: 'icons-custom';
  src: url('../../../app/fonts/icons-custom.eot?796709');
  src: url('../../../app/fonts/icons-custom.eot?796709#iefix') format('embedded-opentype'),
       url('../../../app/fonts/icons-custom.woff2?796709') format('woff2'),
       url('../../../app/fonts/icons-custom.woff?796709') format('woff'),
       url('../../../app/fonts/icons-custom.ttf?796709') format('truetype'),
       url('../../../app/fonts/icons-custom.svg?796709#icons-custom') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons-custom';
    src: url('../font/icons-custom.svg?796709#icons-custom') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons-custom";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-arrow-del:before { content: '\e800'; } /* '' */
.icon-slider-arrow-good-prev:before { content: '\e801'; } /* '' */
.icon-arrow-menu:before { content: '\e802'; } /* '' */
.icon-good-compare:before { content: '\e803'; } /* '' */
.icon-slider-arrow-good:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */